[2016-06-20 08:50] nattayamairittha opened #1 "error TS2307: Cannot find module 'auto-complete'."

[2016-06-20 13:50] allenhwkim commented on #1
Did you also add it into packages?

[2016-07-02 07:05] kolyan131313 opened #2 "ng2-auto-complete/dist/auto-complete.component.ts - any type"
Hi. You are write good autocomplete. Please, could u set up type of variable
in file - ng2-auto-complete/dist/auto-complete.component.ts
on line 177 ( return function(callback: any, ms: any) )
asap if it possible, because my application cannot run without it

[2016-07-02 07:51] kolyan131313 opened #3 "Problems with OPTIONS request(desapeared)"
I have updated autocomplete module to 0.2.0 versions from 0.1.6 and i haven't seen sending OPTIONS request to server, i can't get data from server. Could you check and fix if it posible. At 0.1.6 version it has worked perfect

[2016-07-02 16:51] allenhwkim commented on #2
Thanks for using it. can you be more specific?

[2016-07-02 16:58] allenhwkim commented on #3
I did not get what you exactly meant. For me, this example works fine by sending a keyword to a server. https://plnkr.co/edit/32syXF?p=preview

Can you explain your issue with this plunker?

[2016-07-02 17:00] kolyan131313 commented on #2
yeap, sorry for bad explanations. https://github.com/jsvalley/ng2-auto-complete/blob/master/dist/auto-complete.component.ts#L177 you are right about it. Could you set up type to `ms` param, because i have strict requirements on my project and i cant run my project without types

[2016-07-02 17:03] allenhwkim commented on #2
You mean `ms: number`?

[2016-07-02 17:12] kolyan131313 commented on #2
yes, if it possible

[2016-07-02 17:13] allenhwkim commented on #3
I also checked the diff, and there is not much difference https://github.com/jsvalley/ng2-auto-complete/compare/0.1.6...master

[2016-07-02 17:16] allenhwkim commented on #2
It's done.

[2016-07-02 17:17] kolyan131313 commented on #3
ok, i will check it on more

[2016-07-02 17:24] kolyan131313 commented on #2
it's works, thanks a lot

[2016-07-02 17:29] #2 closed

[2016-07-02 17:39] allenhwkim commented on #2
If this repo is useful, a star would be appreciated

Sent from my iPhone

[2016-07-02 18:09] kolyan131313 commented on #3
You can see my problems in your plunker, in browser console - network option. Earlier your module sent several requests(first - OPTIONS request, second- GET request), but now we can see one request

[2016-07-02 18:14] kolyan131313 commented on #3
in your case its works, but in my case i need one more request(OPTIONS), as it was earlier.
If it posible, could you fix it

[2016-07-02 22:09] allenhwkim commented on #3
Could you paste your screenshot here?

Sent from my iPhone

[2016-07-02 22:22] allenhwkim commented on #3
AFAIK, OPTIONS request are not decided by this module. Even with 0.1.6, only GET request is sent to Google

![image](https://cloud.githubusercontent.com/assets/1437734/16542709/7e835806-4081-11e6-9f4c-4afa505e060e.png)

For CORS, OPTIONS request are sent to check if it is safe to send request. Ref.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS.

To solve this, I need more d

[2016-07-04 06:29] kolyan131313 commented on #2
sorry, i fogot. Thanks

[2016-07-18 13:01] butenkoder commented on #3
Hi guys. I have same problem, i can't use my HTTP_PROVIDERS because your provider use instead of my native. Earlier in v0.1.6 you didn't use this provider for your method.
And I use provider for RequestOptions in main.ts file for adding additional headers for request. In v0.1.6 we could see our autorization headers, but start from v0.2.0 we can't send our headers in requests

[2016-07-18 13:01] butenkoder commented on #3
Could you fix it asap?

[2016-07-18 13:55] allenhwkim commented on #3
ok I will remove HTTP_PROVIDERS dependency, test, and release ASAP

[2016-07-18 13:57] butenkoder commented on #3
ok, thanks

[2016-07-18 14:06] allenhwkim commented on #3
tagged and published as 0.4.1. Please let me know how it goes

[2016-07-18 15:46] butenkoder commented on #3
thanks, it works perfect. Thanks for help

[2016-07-18 22:39] #3 closed

[2016-07-21 11:54] JunusErgin opened #4 "[value-changed] gets executed a 1000 times"
I implemented something like this:
[code]
The function` search() `gets executed a 1000 times immediately. It should only be executed when I type or remove a letter, right?

The search function should update the source "states" every time I type in a letter.

Thanks for your support in advance!

Junus Ergin

[2016-07-21 13:10] JunusErgin commented on #4
I just saw I misunderstood the function:
    `[value-changed]="search"` should be written like this and only be executed when sth. in the dropdown menu is selected.

[2016-07-21 13:45] allenhwkim commented on #4
Thanks
I don't see `this` as in `should be written like this`. Did you make a PR?

[2016-07-21 14:45] allenhwkim commented on #4
I misunderstood ur statement. Yes [value-changed] is not an event but a property.

[2016-07-21 14:45] #4 closed

[2016-07-21 17:48] lovjith opened #5 "Exception thrown when tried to include the "ng2-auto-complete" as nested component"
I created 'AnalysisPickerComponent' which contains "ng2-auto-complete". Then I tried to include the 'AnalysisPickerComponent' inside my 'HomeComponent'.

Component nesting order: 'HomeComponent' -> 'AnalysisPickerComponent' -> 'ng2-auto-complete'

**EXCEPTION: Error: Uncaught (in promise): Unexpected directive value 'undefined' on the View of component 'AnalysisPickerComponent'**

[2016-07-21 21:04] #1 closed

[2016-07-21 21:04] allenhwkim commented on #5
Thanks for using this module.

My guess is that your AnalysisPickerComponent did not import AutoCompleteComponent properly.
If you create a plunker, it will be very helpful to debug.

[2016-07-22 10:46] lovjith commented on #5
Dear Allen Kim

Thank you very much for the reply and highly appreciate it.

I solved it already just now. I imported *HTTP_PROVIDERS* into
AnalysisPickerComponent and everything worked fine.

Regards

Lovjith K T

The reason was

Phone: *+966 59 889 9982*, +971 50 888 7695, +91 811 181 4444

2016-07-22 0:04 GMT+03:00 Allen Kim <notifications@github.com>:

[2016-07-22 18:52] allenhwkim commented on #5
Glad you find the solution. If you don't mind, could you star this repo for other developers?

[2016-07-27 18:42] lovjith opened #6 "How to specify the width of the auto complete control"
Please guide me how to specify the width of auto complete relative to the container such as 100% or 80%

Also it be great if more documentation is provided

Here is my plunker [ng2-auto-complete on plunker](http://plnkr.co/edit/0R8Zix?p=preview)

Thanks

[2016-07-27 20:34] allenhwkim commented on #6
You just add a style

http://plnkr.co/edit/2CHZPS?p=preview

at the bottom of style.css

[code]

[2016-07-27 20:35] allenhwkim commented on #6
I will add more document for this.

[2016-07-28 05:47] lovjith commented on #6
Thank you very much. Already the component has all the necessary features. Definitely with the documentation will take it to the new heights

[2016-07-28 05:47] #6 closed

[2016-07-28 05:47] #5 closed

[2016-07-30 18:31] yossavi commented on #1
**my systemjs.config.js:**

[code]

**my app.component.ts:**
[code]

and I get the error:

help please. thanks

[2016-07-31 00:33] allenhwkim commented on #1
It all looks correct to me. There must be some other reason

Try this way to make it sure the problem is within your local environment.
`
map['auto-complete'] = 'https://npmcdn.com/ng2-auto-complete'; // without npm installation
`

[2016-08-02 17:23] karthik7452 opened #7 "Any update for RC4 ?"

[2016-08-02 17:32] allenhwkim commented on #7
Not much difference between RC4 and RC3

Sent from my iPhone

[2016-08-02 20:48] sovanyio commented on #7
Except for unmet dependencies if you are using RC4 in your project..

[code]

[2016-08-03 00:16] allenhwkim commented on #7
I will make upgrade sooner, but meanwhile, any PR would be appreciated and you will be listed as a contributor on https://ng2-ui.github.io/#/auto-complete

[2016-08-05 19:48] yossavi commented on #1
the only way I could make it work is:
`import {AutoCompleteDirective} from '../../node_modules/ng2-auto-complete/dist';
`

I think we have diffrent version for some package, I use:
[code]

or maybe the tsc config is different, mine is:
[code]

thanks.

[2016-08-05 21:13] allenhwkim commented on #1
That's interesting. If you send me a zipped file, or a git repo., I will take a look into it.

[2016-08-06 20:07] yossavi commented on #1
[package.zip](https://github.com/ng2-ui/ng2-auto-complete/files/405162/package.zip)

[2016-08-06 23:16] allenhwkim commented on #1
It's because of ng2-auto-complete does not have index.d.ts on root directory

![image](https://cloud.githubusercontent.com/assets/1437734/17459481/2573115a-5c08-11e6-86f9-fbc32adc9af1.png)

This still will work, but IDE will complain about type checking.
To solve this, I can add a index.ts and index.d.ts on root directory like the following for type checking.

[code]

[2016-08-06 23:24] allenhwkim commented on #1
Please test it with 0.4.2, which has now index.ts and index.d.ts

[2016-08-07 22:16] yossavi commented on #1
it works!!

your'e the man!!

thanks a lot

[2016-08-07 22:18] allenhwkim commented on #1
You're welcome. You may also like other directives also in https://ng2-ui.github.io.

[2016-08-07 22:50] yossavi commented on #1
beautiful, I'll probably use the google-maps and the infinity scroll.
look awesome.
i'll be in touch.
thanks

[2016-08-09 18:25] sovanyio commented on #7
RC 5 now ;)

[2016-08-09 19:43] allenhwkim commented on #7
Yup

Sent from my iPhone

[2016-08-18 15:37] snamor opened #8 "When pressing enter with empty list it throws error"
I fond out that if you press enter when no item is shown it throws an error.

How to reproduce:
1. Start typing something that doesn't return any result.
2. When an empty list is shown, press Enter.
3. An error is thrown.

[2016-08-19 04:23] kodeine opened #10 "material design css?"
possible to use the styling like in this [demo](http://4dev.tech/2016/03/tutorial-creating-an-angular2-autocomplete/), [css here](https://raw.githubusercontent.com/leonardohjines/angular2-autocomplete/master/style.css)

[2016-08-19 04:54] kodeine commented on #7
bump :))

[2016-08-19 06:40] #8 closed

[2016-08-20 16:09] allenhwkim commented on #10
Yes, possible
Just provide the following css in your html

[code]

[2016-08-20 17:12] kodeine commented on #7
@allenhwkim
i am getting an error when trying this on RC4, is it because it doesnt support yet or its something else?

[2016-08-20 20:41] allenhwkim commented on #7
I will upgrade to RC5 soon

Since RC3 and RC4 does not have much differences, it should not have any errors

Any plnkr would be appreciated

Sent from my iPhone

[2016-08-21 23:32] allenhwkim commented on #7
Upgraded to RC5. Please reopen if there is any issue

[2016-08-21 23:32] #7 closed

[2016-08-22 00:41] kodeine opened #11 "error on import"
Hello,
i am getting this error when i try to import the module.

code:
[code]

error
[code]

[2016-08-22 06:36] kodeine commented on #11
Plunker Example: http://embed.plnkr.co/32syXF/ stopped working ?

[2016-08-22 13:25] allenhwkim commented on #11
UPgraded to RC5. plnkr is still with RC4.
Wither I filx it with RC4 or upgrade to RC5.

[2016-08-22 14:41] allenhwkim commented on #11
Plunker is temporarily fixed to 0.4.2.
  map['auto-complete'] = 'https://npmcdn.com/ng2-auto-complete@0.4.2';

[2016-08-22 16:29] kodeine commented on #11
Btw, any idea why i get the error i mentioned in my first post?

[2016-08-23 01:45] allenhwkim commented on #11
@kodeine, no idea. It's syntax parsing error.

ParseError: 'import' and 'export' may appear only with 'sourceType: module'

If you have a plnkr, it would be helpful.

[2016-08-23 01:47] kodeine commented on #11
@allenhwkim well i installed the package and called the import and i get that error.

[2016-08-23 01:48] allenhwkim commented on #11
@kodeine I will create a RC5 plnkr, and you may show me your issue based on that.

[2016-08-23 01:55] kodeine commented on #11
@allenhwkim thanks

[2016-08-23 02:05] kodeine commented on #11
@allenhwkim i am on Rc4 right now btw, i wonder why right after import i get the error.

[code]

template
[code]

[2016-08-23 02:06] allenhwkim commented on #11
RC5 plnkr  https://plnkr.co/edit/1N4onb

[2016-08-23 02:09] allenhwkim commented on #11
if you are on RC4, please use version 0.4.2

[2016-08-23 02:15] kodeine commented on #11
@allenhwkim i'm actually using [IonicFramework](http://github.com/driftyco/ionic), so they are on rc4.
same error,
[code]

package.json: `    "ng2-auto-complete": "^0.4.2",`

[2016-08-23 02:22] allenhwkim commented on #11
I don't understand why it's accessing `.ts` file instead of `.js` file.  if main is `index.js` and defaultExtension is `js`. There is no reason to access `.ts` file.

[2016-08-23 02:30] allenhwkim commented on #11
This may help? https://github.com/urish/angular2-moment/issues/28

[2016-08-23 02:53] kodeine commented on #11
@allenhwkim thanks, i tried that but now its a different error.

[code]

[2016-08-24 21:56] fungjj92 opened #12 "Prevent memory leaks by unsubscribing to variables, ngOnDestroy"
We subscribe to component.valueSelected in auto-complete-directive.ts for example. I think the best practice is to also implement ngOnDestroy and .unsubscribe from observables there.

[2016-08-24 22:46] allenhwkim commented on #12
Yes, exactly. Thanks for the feedback. I will implement it soon. You can also send me a PR if you are in a hurry.

[2016-08-25 01:03] allenhwkim commented on #12
This has been updated with version 0.5.3. Please test.

[2016-08-30 14:03] fungjj92 commented on #12
Looks good on this project. I had trouble pulling in the changes into my own project, however.

[2016-08-30 17:47] lovjith opened #13 "Default value for ngModel"
How can I specify the default/initial ngModel values? Now if I initialize the model object, I'm getting "[object] [object]"

[2016-08-30 19:28] allenhwkim commented on #13
This will be fixed soon by displaying the `displayProperty`

[2016-08-31 01:27] allenhwkim commented on #13
This has been fixed with version 0.5.5

[2016-08-31 01:28] allenhwkim commented on #12
Closing, let me know if not fixed.

[2016-08-31 01:28] #12 closed

[2016-09-01 05:07] kodeine commented on #10
@allenhwkim i will try this asap and report back, im waiting to update my app to rc5 so i can use this package.

[2016-09-01 06:04] kodeine opened #14 "error if i dont use input element"
Hello,
Since i'm using angular2 material, it doesnt use regular input field so i have to use <md-input ...>
but as soon i click on the input i see the following error.

[code]

[code]

[2016-09-01 12:21] #13 closed

[2016-09-01 12:22] allenhwkim commented on #14
Are you using RC5?
If so, please create a plunker, so that I can debug it.

[2016-09-01 18:07] kodeine commented on #14
@allenhwkim hello,
i couldnt make the plunker but i've pushed the [project on github](https://github.com/kodeine/ng2-test/invitations).

can you please take a look at `src/app/signup/`

[code]

[2016-09-01 20:59] voohoo opened #15 "Parameter 'event' implicitly has an 'any' type"
My project's typescript transpilation fails due to the following error:

Can you please remedy this by explicitly declaring a type?  `(event?: any)`

[2016-09-01 23:36] allenhwkim commented on #15
Thanks for reporting this.
However, if you are using .js like the following, I don't know why this is happening
[code]

[2016-09-02 11:54] mickeychu opened #17 "use with formControlName instead of ngModel?"
First of all thank you for your auto-complete. really useful!!!!

However, I created the form in my app using the **formControl** so with input, I can not use **ngModel** but **formControlName**.

When I select an item from the dropdown, it's not updated on the input, still show whatever the initial **formControlName** were.

Is there anyway to make the autocomplete work with **formControlName**?

[2016-09-02 13:09] allenhwkim commented on #17
Could you create a plnkr example for this?

[2016-09-02 13:48] mickeychu commented on #17
ah, never mind. I just add ngModel along with formControlName and everthing works ok:

`<input auto-complete formControlName="building" [(ngModel)]="myForm.value.building" [source]="buildings" display-property-name="buildingAddress" />`

Cheers!!!!

[2016-09-02 13:48] #17 closed

[2016-09-02 14:47] Kimpossibru commented on #15
Made a pull request for this today which has been merged, I would guess this topic can be closed :)
And it probably happens because if you run tsc you are also compiling everything in the node_modules folder unless you do something about it. You should probably ignore the node_modules folder if you are using js files.

[2016-09-02 14:58] allenhwkim commented on #15
thanks @Kimpossibru

[2016-09-02 16:17] kodeine commented on #14
@allenhwkim
the error is at
[code]
when i use `<md-input auto-complete`,  `this.componentRef.instance` is `undefined`

[2016-09-02 16:30] allenhwkim commented on #14
Thanks I will take a look at it when I get home

[2016-09-02 16:34] allenhwkim commented on #14
Just curious, could you add some reference of having benefit of using `formControlName`?

[2016-09-02 16:38] kodeine commented on #14
Ill try that in a bit, just got out of office...

[2016-09-02 21:47] kodeine commented on #14
@allenhwkim just added
[code]
but same issue, `Cannot read property 'instance' `

[2016-09-05 07:13] kodeine commented on #14
@allenhwkim any luck? sorry to bother you again with this.

[2016-09-05 12:45] mickeychu opened #18 "how to use "value-changed" and "value-property-name" ?"
I don't see the different between the **e.g** and the **not**.

Can I use it like **(value-changed)="myFunction(id)"** or it's just function name only, no parameters sending with it is accepted?

And for **value-property-name**, what ever key name I assigned to this, it still bind the whole object to the ngModel. I just want to bind the key **buildingID**, not the whole object.

`value-property-na

[2016-09-05 14:33] allenhwkim commented on #18
`(value-changed)="myFunction"` is correct, so that internally it can execute `myFunction(value)`

about `value-property-name`, if your object is {foo:1, var:'name 1'}, `foo` should be the `value-property-name` and `foo` should be `display-property-name`.

display-property-name and value-property-name is used for dropdown to determine what to show, not for ngModel. whenever you choose something, wh

[2016-09-05 14:37] allenhwkim commented on #18
I think it's better to change `value-chnaged` from input to output. IMO

[2016-09-05 15:42] mickeychu commented on #18
I can not use anything except the **value** with ` myFunction(value)`.

If I try to call another function from my component, it will be **undefined**

[code]

[2016-09-05 16:41] allenhwkim commented on #18
The first value would be undefined. Please follow this example.

https://plnkr.co/edit/s9mBPJ?p=preview

[2016-09-05 17:08] allenhwkim commented on #14
There is some racing condition between `hideAutoCompleteDropdown` and `showAutoCompleteDropdown`

This does not happen without material design. My guess is there is some animation going on and it makes hiding autocomplete dropdown happens not immediately, but asynchronously

If you change the code to have setTimeout after hiding it, it seems working.
Could you try this, and make PR if works fine?

[2016-09-05 17:24] kodeine commented on #14
okay that helps a little initially, so it has the material style initially, but when i click on it, i see the <input field which i assume is being called from the component itself. so on click old input + new md-input are visible.

secondly the css does not seem to work from the page. im trying to give it full width and it doesnt just effect.

[2016-09-05 18:37] mickeychu commented on #18
I mean the **this.getApartments()** function is undefined .

I want to call a function like this:

[code]

[2016-09-05 19:33] kodeine commented on #18
the problem is, `valueChanged` function returns the object inside the component, so if you do
[code]
I assume its a bug.

[2016-09-05 20:09] mickeychu commented on #18
Yeah, I did try to `console.log(this);`

So is there anyway to fix this?

[2016-09-05 20:12] allenhwkim commented on #18
I am going to change this from `@Input` to `@output`, so that this problem goes away
Meanwhile, try this plz
[code]

[2016-09-05 20:13] kodeine commented on #18
@mickeychu
as a temporary fix i just added a formControlName in the and subscribe to the control value. But since @allenhwkim has updated, we should be good to go with that.

[2016-09-05 20:15] mickeychu commented on #18
Thanks @kodeine  :)

I think I will wait for the update from @allenhwkim.

Cheers!!!!

[2016-09-05 20:16] kodeine commented on #14
@allenhwkim i dont understand why another input comes on top of the orignal input field defined in template. Is there a way to just get the values from orignal instead of placing a new dropdown input on top of it? that will help totally avoid the input css as well.

[2016-09-05 20:19] allenhwkim commented on #14
@kodeine this is by design.

The value you enter for `autocomplete` should be different from the value that actually that you have.

e.g. Your original value `abc` should not be changed when you autocomplete it with `a` then type ESC to cancel your action.

[2016-09-05 23:01] allenhwkim commented on #14
Looked into how material design works.

md-input has its own input within it.

This `ng2-auto-complete` is designed to be located immediately after `input` tag. However because of `md-input` is only exposed, it's not possible to add this directive right after `input` tag.

![image](https://cloud.githubusercontent.com/assets/1437734/18257961/99db0d28-739a-11e6-92ec-c1052105939c.png)

I will look in

[2016-09-05 23:03] allenhwkim commented on #14
To solve this, I have to move `auto-complete` tag right after `input` tag, not `md-input`, but I am not sure it's possible or not at this moment. Needs some trials for it.

[2016-09-05 23:59] kodeine commented on #14
@allenhwkim thanks a lot for trying and debugging this. i hope we can find some solution.

[2016-09-06 04:41] #15 closed

[2016-09-09 06:02] kodeine commented on #18
@allenhwkim is this issue updated?

[2016-09-09 21:20] allenhwkim commented on #18
This has been changed with 0.6.1 release

Before

    [value-changed]="myCallback"

After

    (value-changed)="myCallback($event)"

[2016-09-09 21:20] #18 closed

[2016-09-12 14:36] andregs opened #19 "Bind source to Observable"
Hi, guys.

Is it possible to bind the `source` property to an `Observable`? It seems it only supports `array` or `string`.

My use case: I have a method in a service that does some async processing and then returns an Observable array. I want to bind the auto-complete to this method.

Thanks!

[2016-09-12 23:07] allenhwkim commented on #11
I have released .umd.js version, so that it does not use typescript anymore. It may help.

[2016-09-12 23:08] allenhwkim commented on #14
Made change for material design.

[2016-09-12 23:09] allenhwkim commented on #10
0.6.3 released for MD. Please test.

[2016-09-12 23:14] allenhwkim commented on #19
I agree with you. We should accept a `Observable` or `Promise` as source. Will try `Observable` first.

[2016-09-12 23:35] kodeine commented on #10
wohooo, im on it, will report back shortly.

[2016-09-12 23:59] kodeine commented on #10
@allenhwkim
so i've tested it, there are no errors but looks like its not using material design. i've attached screen shots for your review.  Also on clicking the item from the dropdown, it doesnt do anything, doesnt even display "200" on the value input.

[code]
[code]

![screenshot from 2016-09-12 18-55-20](https://cloud.githubusercontent.com/assets/8620059/18456966/b253cc8e-791a-11e6-87a6-8b46c

[2016-09-13 01:05] allenhwkim commented on #10
That part I do not know about material design. MD says we can use `[(ngModel)]`, but I did not dig into deeper. You still can use `(value-changed)="myCallback($event)"` to make the value changed.

[2016-09-13 01:09] kodeine commented on #10
@allenhwkim actually if i use the arrow keys to select the item from drop down, it doesnt highlight the values.either

[2016-09-13 01:58] kodeine commented on #10
@allenhwkim sorry my bad the select from arrow keys work.

[2016-09-13 02:07] kodeine commented on #10
@allenhwkim
so i tried `(value-changed)="onSelected($event)"` and i can get the value from `event.target.value` but it does not show the value inside input field. it remains empty.

[2016-09-13 08:18] Dill1 commented on #19
Agreed, thank you. I was going to request accepting an error handling function when binding to a URL so that the error isn't ignored (line 174 autocomplete.component.ts). My use case is that the URL is an internal restful service that requires authentication, and I need to handle 401. But binding to an Observable would allow me to call the service the way I normally do rather than using the URL di

[2016-09-13 15:29] lovjith opened #20 "Default value for ngModel"
The fix for initial value is perfect, but the [(ngModel)] do not reflect the display value when the model is changed manully

[2016-09-13 15:32] allenhwkim commented on #20
I think we need `ngOnChanges` implementation.

[2016-09-13 21:31] noxborough opened #22 ""BrowserModule has already been loaded""
If you import Ng2AutoCompleteModule into an NgModule that already imports BrowserModule (which will be pretty much any angular2 app).  You get this error message, because i believe BrowserModule can only be imported once.

It seems like a better idea for Ng2AutoCompleteModule to import CommonModule instead.

The current design pretty much prohibits you from importing Ng2AutoCompleteModule into any

[2016-09-13 22:28] allenhwkim commented on #22
Ok, I will try with `CommonModule`

[2016-09-13 23:13] allenhwkim commented on #22
released it with 0.6.4

[2016-09-13 23:14] allenhwkim commented on #19
This has been released with 0.6.4.

[2016-09-13 23:44] kodeine commented on #10
@allenhwkim were you able to try out the issue i mentioned?

[2016-09-14 00:14] allenhwkim commented on #10
Made some changes, could you try again?

[2016-09-14 07:08] boban984 commented on #19
@andregs Is the issue resolved now? if so we need to close the issue

[2016-09-14 07:54] lovjith opened #23 "Dropdown psotioning and size"
Is it possible to position the dropdown dynamically according the available height of the container (if the available height is less then dropdown should be displayed on top of the text box)?
It would have been better if there is property to specify the the max height for the dropdown.

[2016-09-14 10:08] andregs commented on #19
Thank you!

[2016-09-14 10:08] #19 closed

[2016-09-14 13:41] allenhwkim commented on #23
Isn't it doing? `ng2-datetime-picker` does that already. If not, I will borrow that idea from there.

[2016-09-14 15:45] noxborough commented on #22
thank you, it works perfectly now.

[2016-09-14 15:49] #22 closed

[2016-09-17 07:34] lovjith commented on #23
Please find the below pictures and the [**plunker is here**](http://plnkr.co/edit/K7ndR0qb63qkZH27aGGx)

**ng2-auto-complete**
![image](https://cloud.githubusercontent.com/assets/16626186/18606751/3d14b578-7cc1-11e6-82b5-9353fc127625.png)

**Html Select**
![image](https://cloud.githubusercontent.com/assets/16626186/18606761/7cc890ae-7cc1-11e6-87de-48ee13b77567.png)

[2016-09-19 13:05] Nick-Triller opened #24 "Dropdown not expanding when input gets focus by pressing tab"
-

[2016-09-19 21:52] #24 closed

[2016-09-24 12:53] gotenxds opened #25 "Creates an input inside an input ??"
Hi, Im trying to use your library and I get this behavior,
when just pasting your code

`<input auto-complete [(ngModel)]="myData" [source]="mySource" />`

Into my html template I get this as the end result:

![image](https://cloud.githubusercontent.com/assets/3519520/18808590/e4f6a73a-826e-11e6-844b-c9e67d879653.png)

Which is an input witin an input, this makes things really difficult when I use

[2016-09-24 14:44] allenhwkim commented on #25
This is the default style. You can override it easily. Without having a separate input, it should intervene the original value of input(which is text), and it was hard to go back when typed `esc` or when cancel the search.
``
  .auto-complete input {
    outline: none;
    border: 2px solid transparent;
    border-width: 3px 2px;
    margin: 0;
    box-sizing: border-box;
    background-clip: cont

[2016-09-27 09:30] mickeychu opened #26 "angular 2 final intergration?"
How to make this work with Angular 2 final (2.0.1) ? thank you!

I got an error when import the module in AppModule:

![screen shot 2016-09-27 at 12 43 40](https://cloud.githubusercontent.com/assets/7807777/18869952/3dd0d34a-84b7-11e6-90a0-34ac0533afce.png)

[2016-09-27 15:23] fayvlad opened #27 "Bug"
In case when from autocomplete i've received empty array and press "enter" button - i've got error in console "Cannot property name of undefined".
I think that this bug [there](https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/auto-complete.component.ts#L220) https://gyazo.com/b10c25c6598cbceb989d7a71a8a38ca7

[2016-09-27 16:00] allenhwkim commented on #27
@boban984 can you look into this issue?

[2016-09-27 16:02] allenhwkim commented on #26
It's already working with 2.0. Did you follow README.md install part?

[2016-09-27 16:24] fayvlad commented on #27
sorry, my node-modules version is 0.4.2, may be it is my pc can't update the version.
Pls, only check it in your version, according to code it is fixed.

[2016-09-27 19:05] boban984 commented on #27
@fayvlad i will take a look, it would help if you can tell me how you set the source, are you using observable like the response from http call?

[2016-09-28 09:35] seustachi opened #28 "Cannot search for a result when autocomplete does not return any value"
When I type in the search box, I expect that if no match is found by auto-complete, I can still launch a search with the string I typed. This does not seem possible here, as ngModel is only updated when I select an item in the list.

I would expect the component to store what I typed, in order to be able to launch a "normal" search (like if autocomplete did not exist).

[2016-09-28 16:15] seustachi commented on #28
One possible solution would be to have Keyword as an Output (event could be emitted in reloadList()), so we could bind to a variable in the component (it is like have another ngModel, one for the result of the search, one for the user input)

[2016-09-29 07:47] mickeychu commented on #26
Yes, I did reinstall the package and followed the instruction  in README.md (except the `systemjs.config.js` part). But still the same error :(

[2016-09-30 03:10] haisaco opened #30 "Can not Show Dropdown when tab in textbox!"
When I tab on textbox, not show, you can fix?

[2016-10-01 01:22] allenhwkim commented on #10
Closing this for inactivity. Please create an issue again if not resolved

[2016-10-01 01:22] #10 closed

[2016-10-01 01:23] allenhwkim commented on #11
Closing this for inactivity. Please create another issue if not resolved with the recent release.

[2016-10-01 01:23] #11 closed

[2016-10-01 01:24] allenhwkim commented on #14
Closing this for inactivity. Please create another issue if not resolved with the recent release.

[2016-10-01 01:24] #14 closed

[2016-10-01 20:52] kodeine commented on #26
@allenhwkim i am facing the same issue. As soon i include in imports, i get the same error.

[2016-10-02 00:00] allenhwkim commented on #28
For this case, it's better to be able to select blank item like the same as `select` tag.

![image](https://cloud.githubusercontent.com/assets/1437734/19017698/c33cdf4e-8811-11e6-9533-175149d877d1.png)

[2016-10-02 00:03] allenhwkim commented on #26
Is this 2.0.1 only issue? How come I don' t have that error in 2.0.0 env?
Can someone give me more detail about this error in step by step?

[2016-10-02 00:19] kodeine commented on #26
https://github.com/qdouble/angular2webpack2-starter

Just clone that starter and add autocomplete module, ull see the error.

[2016-10-02 01:34] allenhwkim commented on #26
Is this specific to webpack?

If you are using webpack to run this, `systemjs.config.js` is not useful to define where `ng2-auto-complete` is. For me, I resolve this by where the packaged is in `webpack.config.js`. For example.

[code]

There must be better solution for this when we use webpack. If so, please LMK.

[2016-10-02 02:01] allenhwkim commented on #20
This has been fixed and released with 0.7.0. Please verify the change and close it.

[2016-10-02 02:01] allenhwkim commented on #23
This has been fixed and released with 0.7.0. Please verify the change and close it.

[2016-10-02 02:01] #25 closed

[2016-10-02 02:02] allenhwkim commented on #27
Could not reproduce this issue with new release 0.7.0. Please verify the change and close it.

[2016-10-02 02:03] allenhwkim commented on #28
This has been fixed and released with 0.7.0 with having new option `blank-option-text`. Please verify the change and close it.

[2016-10-02 02:03] allenhwkim commented on #30
This has been fixed and released with 0.7.0. Please verify the change and close it.

[2016-10-03 05:22] kodeine commented on #26
@allenhwkim usually for other packages we dont have to define them in webpack, we just install via npm and import the package index into the app. Are we missing something?

[2016-10-03 05:34] kodeine commented on #26
also i still get the same error even though i've setup webpack to

[code]

[2016-10-03 14:08] allenhwkim commented on #26
I think it's worth trying to have `index.ts` on the root level of `node_modules/ng2-auto-complete` as the same as `@angular/common` does

[2016-10-03 16:44] kodeine commented on #26
@allenhwkim i agree with you. lets do that. because it should be plug and play.

[2016-10-03 21:44] jairoGilC opened #31 "plunker example current is not working"
The plunker example defined in the documentation is not working

    TypeError: Zone.assertZonePatched is not a function
    NgZoneImpl@https://npmcdn.com/@angular/core/bundles/core.umd.js:6197:13
    NgZone@https://npmcdn.com/@angular/core/bundles/core.umd.js:6346:30

[2016-10-10 19:01] adros opened #32 "Usage with bootstrap input-group"
I'd like to use ng2-auto-complete with bootstrap's 'input-group' feature (class)

http://v4-alpha.getbootstrap.com/components/input-group/#basic-example

But after the input is wrapperd into another 2 elements, the styling is broken.

[code]

Is there any workarund how could I make it work?

[2016-10-10 21:27] iamthewinnar opened #33 "can't shift+tab to a previous field"
When you you tab or click on the autocomplete field if you try to shift+tab to go to the previous field it just resets the autocomplete search, presumably because it's tabbing back to the initial autocomplete field   and then creating a new autocomplete input each time.

[2016-10-11 16:21] queejie opened #34 "Module ..../node_modules/ng2-auto-complete/dist/ng2-auto-complete.umd.js does not export Ng2AutoCompleteModule"
I am using Ionic 2 RC0, which uses Angular 2.  I'm not sure if this is an environmental issue or a problem with the component.  One difference is that there is no system.config.js in the Ionic app that I can find.

[2016-10-12 01:26] allenhwkim commented on #34
Are you using webpack?

[2016-10-12 10:15] Chabane opened #35 "Can't bind to 'source' since it isn't a known property of 'input'"
Hi,

Thanks for the job,

I tried to integrate the auto-complete, but I got this error :

`Can't bind to 'source' since it isn't a known property of 'input'`

[code]

How can I do to ignore this error?

Thanks

[2016-10-12 10:24] #35 closed

[2016-10-12 10:24] Chabane commented on #35
I forgot to export Ng2AutoCompleteModule

[2016-10-14 10:26] #20 closed

[2016-10-14 10:27] #23 closed

[2016-10-14 10:39] #27 closed

[2016-10-14 10:39] #28 closed

[2016-10-14 10:39] #30 closed

[2016-10-14 21:01] allenhwkim commented on #26
This has  been implemented with the new release. Please verify the change.

[2016-10-14 21:03] allenhwkim commented on #31
Thanks for reporting this. I will make a fix soon

[2016-10-14 21:09] allenhwkim commented on #34
This should have been fixed with the recent release for webpack users. Please verify the change.

[2016-10-14 21:09] #34 closed

[2016-10-15 02:18] allenhwkim commented on #31
Plunker is updated as http://plnkr.co/edit/3pB1Gx?p=preview

[2016-10-15 02:18] #31 closed

[2016-10-15 02:20] allenhwkim commented on #32
The only way I can see is to define `.form-control` css

[2016-10-15 02:36] #32 closed

[2016-10-16 01:35] allenhwkim commented on #33
This has been updated with new release 0.7.3. Please verify the changes

[2016-10-16 11:15] SadatAnwar opened #36 "Decouple the "keyword" word"
Hello,
I recently tried this auto-complete out, and I must give you fair warning, I am a total Angular2 noob, I tried out a few auto-complete to get one working, but I think this is pretty cool, only one slight issue I feel I have. My data source is a GET http. so I followed the google api example, and it works, but I feel its rather annoying to use `:keyword` as a fixed string, maybe you can make

[2016-10-16 11:25] SadatAnwar opened #37 "Support to add entry even if its not present in source"
not sure if its already possible, but would be awesome to have an option to enable input if its not part of the lookup source. (to add a new value)

[2016-10-18 15:34] Mike6g opened #38 "How to use with wikipedia api"
Hello,

First of all, good job!

I tried to play with this module, it works well when the resource is local, or when the JSON retrieved is complete, however is it possible to make it work with the wikipedia api ?
https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=5&search=angular
It basically returns an array.

API Info here: https://en.wikipedia.org/w/api.php

In advance, than

[2016-10-18 16:07] allenhwkim commented on #38
`src="https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=5&search=:keyword"` should work

[2016-10-19 14:44] well-made opened #39 "(change) event is not triggered after selecting an options"
I have to following code as an example:
`<input type="text" class="form-control" placeholder="Partner" auto-complete [source]="filters.merchants" (change)="filterOrders('merchant.id', $event.target.value)"/>`

In my component I have a `console.log` in the `filterOrders` function, but it isn't triggered.
Seems like the `(click)` gets removed when creating the ng-auto-complete element?

[2016-10-19 15:23] Mike6g commented on #38
No success with Version 0.7.4
`<input auto-complete
          [source]="wikipediaCode"
          [(ngModel)]="nameWiki"
          placeholder="enter Name"
          min-chars="2"
          /> `
`wikipediaCode: string = "http://fr.wikipedia.org/w/api.php?action=opensearch&format=json&search=:keyword";

Any suggestion ?
  `

[2016-10-19 15:34] allenhwkim commented on #38
You have CORS issue. I wish I could help with that, but I cannot. It's a security matter.

![image](https://cloud.githubusercontent.com/assets/1437734/19525721/e7459d2c-95ef-11e6-8ab7-df1f1ab6358d.png)

http://plnkr.co/edit/4giwxebK9cDBWEsLGayC?p=preview

[2016-10-19 20:52] allenhwkim commented on #39
`(change)` is for the input field.
While auto-complete is on display, there user input field is not used. there is another input field will be displayed on the top of user input field as an overlay.

Thus, please follow these options. I recommend (valueChanged)="myFunc($event)"

https://github.com/ng2-ui/ng2-auto-complete#attributes

[2016-10-20 06:36] ajyadav013 opened #40 "Overwrite "Loading" text"
Is there any way to overwrite the text "loading" while fetching data with remote source as HTTP URI string?

[2016-10-20 07:07] well-made commented on #39
Thanks, that does the trick.
Sorry I missed that option in the documentation.

[2016-10-20 07:07] #39 closed

[2016-10-20 10:04] Mike6g commented on #38
Hello,

Thank you for you quick answer.
The observable approach does not work, since the component calls the service I use using 'this' as itself, and then can not use the jsonp.
I'll post my wikipedia solution if I get it to work :-D

Also, I can not get to work the valueChanged parameter, but I didn't see the @Input property in the component (on the master branch)

Regards

[2016-10-20 13:49] Mike6g commented on #38
Alright !!
I finally managed !!
Here is my final solution !
https://plnkr.co/edit/UymsymM2zJH61uQnQ2wA?p=preview

Trick: `ngOnInit(): void {
    this.getItems = this._getItems.bind(this); // Here is the trick !
  }`
Hope this helps

[2016-10-20 13:49] #38 closed

[2016-10-20 16:45] allenhwkim commented on #38
Ok, you resolved CORS with jsonp, nice.

You can directly define the function without binding it again using arrow function.

https://plnkr.co/edit/wQOd0P?p=preview

    getItems = (keyword:string): Observable<string[]> => {
    	return this.wikipediaService.find(keyword);
    }

@boban984, Could you figure out why this requires arrow function?

[2016-10-20 17:30] #26 closed

[2016-10-20 17:30] #33 closed

[2016-10-20 17:35] allenhwkim commented on #36
Thanks for feedback

It's not possible at this moment, https://github.com/ng2-ui/ng2-auto-complete/blob/f8eca078844099f186a735244e5bb4c9fc420088/src/ng2-auto-complete.component.ts#L199

It takes `keyword` to complete the remote call.

I will mark it as a new feature.

[2016-10-20 17:37] allenhwkim commented on #37
Do you mean by program or by manual input?

[2016-10-20 19:40] iamthewinnar commented on #33
I can confirm that this is resolved now.

[2016-10-20 19:45] iamthewinnar opened #41 "Tabbing out of the autocomplete field does not remove the select list field when no text is entered."
When using the auto complete, if you tab out of the field without entering any data the select input does not go away. (the loading box does). It does however work properly if you click out of the field. Clicking also works if you've already tabbed out of the field to another field.

[2016-10-21 19:14] allenhwkim commented on #40
That is hard coded. You can override it with css. e.g. text color as transparent and a background.

[2016-10-21 19:16] allenhwkim commented on #41
This seems like a bug, although it is trivial. `(blur)` should fire an event to hide component, not only dropdown to the directive.

[2016-10-21 19:22] ajyadav013 commented on #40
I would like to contribute... :)

[2016-10-21 19:35] allenhwkim commented on #40
Thanks, This is the example that I created without any code change.
http://plnkr.co/edit/vHagLx?p=preview

[2016-10-21 20:13] iamthewinnar commented on #41
It looks like blur is firing correctly. From what I can tell it looks like that when you click off the element the following directive function is being called: hideAutoCompleteDropdown(). However when you tab off this function is not called.

https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.directive.ts#L66

[2016-10-21 20:38] corner22 commented on #36
I too would like this feature.  I have a WebAPI method that needs the keyword parameter to be named 'textToMatch' in the URL.

[2016-10-21 20:47] allenhwkim commented on #41
Yes that `blur`, https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.component.ts#L20,  event should end up hideAutoCompleteDropDown() ,https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.directive.ts#L112. We need to look into this for a simple and proper solution.

[2016-10-21 20:47] corner22 opened #42 "Inject Authentication Credentials into the request header of source URL"
I have a WebAPI method that I call to get my autocomplete list.  This method is protected by OAUTH2 authentication, so in order to call it I need to inject authentication credentials into the request header (to be specific, i need to add a Bearer token as an Authorization header) but ng2-auto-complete does not provide a way to do this. (unless I'm missing something?).

Would it be possible to prov

[2016-10-21 20:53] allenhwkim commented on #42
You are not missing, you cannot add Bearer token only using http url.

However, you still can use Observable method to modify your header. When you fully download this and run a server using `npm start`, you will see the example using Observable.

https://github.com/ng2-ui/ng2-auto-complete/blob/master/app/app.component.ts#L55
https://github.com/ng2-ui/ng2-auto-complete/blob/master/app/app.service

[2016-10-23 14:02] corner22 commented on #42
Thanks for the info.  The Observable way resolves my issue.

[2016-10-23 14:02] #42 closed

[2016-10-23 14:38] corner22 opened #43 "[(ngModel)] binding to object gets corrupted"
I am using ng-auto-complete v0.11.4, with angular 2.0.0, as follows:
[code]
I am defining this element inside a table of repeating tr rows using *ngFor.  The table is contained within a form.

getTaskListFunction() returns a function, and this function, in turn, returns an `Observable<TimesheetTaskListItem[]>`.

row.TaskListItem is an instance of TimesheetTaskListItem object, defined as

`class Ti

[2016-10-23 15:52] allenhwkim commented on #43
Thanks for reporting issue although it's an unknown issue.

Because I do not see your application, I cannot pinpoint the cause of your issue. However, based on  what I read, I  try to list the following; Please ignore any if it's not your case

1. `[source]` should return an Observable, not Observable.row

2. `[source]` as an Observable should take an argument, which is user input text as string.

[2016-10-23 16:39] corner22 commented on #43
Hi Allen.

The bit about the source function was tricky to explain, so sorry if I wasn't clear, but it does ultimately return a function with a return type of Observable and the function takes a single string parameter of the text to search for.  This part of the auto-complete mechanism works  To show you the function:

[code]

I have experimented with (valueChanged) or (ngModelChange) as well as

[2016-10-24 19:22] corner22 commented on #43
I think we can now consider this issue closed. Unfortunately, I can't give a concrete reason to why it works for me now.  I made a couple of changes and one, or both, have resolved the issue.

1. I discovered that I had installed ng2-ui 0.11.4 which in turn was loading v0.6.6 of ng2-auto-complete.  I could see that there was a later version of (0.7.4) of ng2-auto-complete so I upgraded this compon

[2016-10-24 19:47] allenhwkim commented on #43
Good to here that it works for you.
Unfortunately, ng2-ui upgrade is little behind than each module. It's my fault. I will make it to catch up sooner.

[2016-10-24 19:47] #43 closed

[2016-10-25 02:50] andreroggeri opened #44 "Webpack integration"
My question may be silly, but the readme.MD only explains how to use this directive on SystemJS, and since the angular-cli is using webpack to generate the builds I have no clue on how to use this directive.

I tried to:

1. Install it using `npm install ng2-auto-complete --save` and importing on my module
*Results on module not found*

2. Add the mapping on `angular-cli.json` to `"../node_modules

[2016-10-25 03:38] allenhwkim commented on #44
Strange, it works for me

![image](https://cloud.githubusercontent.com/assets/1437734/19672254/cd85fdc6-9a42-11e6-8ded-d0e1c4424c1f.png)

[code]

[2016-10-25 03:43] allenhwkim commented on #44
@bipulkdas, I heard you have an issue with webpack. Please take look at my solution

[2016-10-25 10:05] boban984 commented on #38
Hey guys ... the arrow function is used so it can trap the "this".
Because the function for reading the Observable is called from the Ng2-Autocomplete component so the function "getItems" actually uses that "this" instead of the "this" from the component that holds the input.

For now this is the way to do this, i could refactor part of the autocomplete to support  the calling of the function with

[2016-10-25 13:26] andreroggeri commented on #44
I did the same steps that you and worked on a clean env.

I'll try again later on my dev env and if still an issue I'll open again

[2016-10-25 13:26] #44 closed

[2016-10-25 18:14] corner22 commented on #42
Thanks Allen. That looks like just the thing I need. Will give it a go with
my webapi and I'll let you know how I get on.

On 21 Oct 2016 21:53, "Allen Kim" <notifications@github.com> wrote:

[2016-11-01 10:35] AlexTamminen opened #45 "Autocomplete based on first letter?"
Would it somehow be possible to get the auto complete to do the search based on first letter? I mean I have hundreds of data, so it is not so ideal when the search is not based on first letter. Tried looking into the package and do some modifications myself on the regex, but didn't succeed. Keep in bind that I'm a newbie, hehhe.

Any help would be appreciated!

[2016-11-01 10:45] ajyadav013 commented on #45
auto-complete [(ngModel)]="selectedCategory" [source]="Url" min-chars="4" display-property-name="name" auto-complete-placeholder="Hello" (valueChanged)="callFunctionAfterValueChanged()" />

Referring above, change the min-chars value to 1.

[2016-11-01 13:37] allenhwkim commented on #45
Please remind that there is Observable solution, which you can do anything for your search result.

[2016-11-01 16:24] bdsettrade opened #46 "auto complete not show when access input field by pressing tab"
I use your auto complete in form and using tab to select next input field.
I found that if I click on input the auto complete will show but if I go to next input field by pressing tab the auto complete will not work. Do you have any suggestion?

[2016-11-01 16:49] allenhwkim commented on #46
Thanks for using it. Are you using old version? I see tab is working with the recent version with Chrome browser.

http://plnkr.co/edit/3pB1Gx?p=preview

[2016-11-01 17:08] bdsettrade commented on #46
Thanks, it works :D.
My version is 0.6.4. After I change it to 0.7.4 , the problem is gone.

[2016-11-01 23:03] #46 closed

[2016-11-02 09:37] jkyadav opened #47 "TS2322 Build:Type 'EventEmitter<{}>' is not assignable to type EventEmitter"
I am getting this error.

Can you please help me with this.

[2016-11-02 10:52] AlexTamminen commented on #45
@ajyadav013 I have tried this with different min-chars value. But it still searches every word with those entered letters. E.g with min chars 1 search letter "t" gives all words with "t" in it. Search by "te" gives all words with "te" in it. Example from own data: "bad tastTE in mouth", "changed TExture in hair" and so on. I would like it to search words that START with "t" and words STARTING with

[2016-11-02 13:31] allenhwkim commented on #47
I don't have enough information to help

[2016-11-02 15:40] ermansan opened #48 "Limit list items"
How can I limit the number of items to show (with scrollable bar)? Is it possible?

[2016-11-02 16:55] allenhwkim commented on #48
it's possible with Observable.
There is no property setup for that feature at the moment.

[2016-11-02 17:23] ermansan commented on #48
I've noticed that for width it is limited to div dimension but I need the height limitation. I've tried with several css configuration but nothing. Any suggestion?

[2016-11-02 19:09] allenhwkim commented on #48
You can override style
[code]

[2016-11-07 20:37] dberthia commented on #36
Excuse the confusion, but I don't understand the :keyword usage.

I have a URI like so **http://foo?q=100**, where the q param contains the text to search for. For it to work with your component, do I need to modify my URI to be **http://foo?q=:keyword**? Does the component substitute the entered value for ":keyword"? I can't seem to figure out the right combo to get this to work.

[2016-11-07 21:06] allenhwkim commented on #36
As you see here in the example,
https://github.com/ng2-ui/ng2-auto-complete/blob/master/app/app.component.ts#L49 and
https://projects.invisionapp.com/share/ZJ98MKE3D#/screens/202679153,
:keyword is the search text you entered into your input field that will be replace by every remote call.

[2016-11-07 21:07] allenhwkim commented on #36
How about changing `:keyword` to any uppercase text followed by colon `:`. e.g. `:KEYWORD`, `:ANY_WORD`, `:MY_VAR`, or `:ANY_UPPERCASE_LETTER_VARIABLE`?

[2016-11-07 21:21] dberthia commented on #36
My input field looks like this:
`           <input
                ng2-auto-complete
                [(ngModel)]="internalidtext"
                [source]="matterTypeaheadUrl"
                display-property-name="number"
                value-property-name="number"
                type="text"
                id="internalidtext"
                formControlName="internalId"
                [attr.a

[2016-11-07 21:23] gectus opened #49 "Default value for ngModel and FormGroup"
Hi!
I have a problem. Now if I initialize the model object with FormGroup, I'm getting "[object] [object]"
Example: http://plnkr.co/edit/qGT7NoWKMdpl1Ue0RXxF?p=preview

[2016-11-07 21:31] gectus commented on #49
Without FormGroup all OK
http://plnkr.co/edit/fznmxDa6MXVIaR8y80X2?p=preview

[2016-11-08 02:39] allenhwkim commented on #49
I am not an expert on this matter. I haven't used formGroup.  https://angular.io/docs/ts/latest/api/forms/index/FormGroupName-directive.html

Any help would be appreciated.

[2016-11-08 02:41] allenhwkim commented on #47
This will be closed soon if no more detailed info. is provided.

[2016-11-08 02:48] allenhwkim commented on #45
@AlexTamminen please look at this example,

https://angular.io/docs/ts/latest/api/forms/index/FormGroupName-directive.html
and
https://github.com/ng2-ui/ng2-auto-complete/blob/master/app/app.service.ts#L24

You can do anything like you would do with string from your input.
[code]

[2016-11-09 14:18] adomasbc commented on #37
I think what @SadatAnwar meant was that for example source is ['a','b','c'] and I want to enter custom value 'd'. Currently the value of the field has to be one from the source and it does not allow adding extra value or assigning some new custom value to binded var.

[2016-11-09 20:13] beradrian opened #51 "Questions"
Hi,

I have a few question:
- How can I use a method that returns an Observable as the source? Is there an example?
- How can I customize the list? I guess '.ng2-auto-complete ul li'.

[2016-11-09 20:51] allenhwkim commented on #51
1. Yes. Please see app directory
2. to customize list, use `list-formatter`. For css, just override css that is used  in component, https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.component.ts

[2016-11-09 22:43] svitlychnyi opened #52 "Use "min-chars" for local source array"
Add possibility to use "min-chars" not only for remote data.

[2016-11-10 10:18] Nikolay-Uvarov commented on #52
Does it work? It does not work for me.
html and component.ts
[code]

[2016-11-10 13:35] beradrian commented on #51
There's also another issue that appears in the demos too. If I enter something, select a suggestion and then click back again on the input, the input disappears. I saw in the code that is using two inputs - can I drop off the second one?

[2016-11-10 14:48] allenhwkim commented on #52
@Nikolay-Uvarov , this is merged yesterday, but not released yet.

[2016-11-10 14:52] allenhwkim commented on #51
@beradrian no, that input is for `ng2-auto-complete` dropdown input which is different from user input. This is designed to separate user input field and `ng2-auto-complete` input. The recent release keeps your input as it is unless you specify `accept-user-input="false"`

[2016-11-10 15:12] #51 closed

[2016-11-10 15:12] allenhwkim commented on #47
closing for no activity

[2016-11-10 15:12] #47 closed

[2016-11-10 15:12] #45 closed

[2016-11-10 15:13] allenhwkim commented on #41
Is this still a bug? It seems working for me

[2016-11-10 17:41] Nikolay-Uvarov commented on #52
@allenhwkim tks a lot. now it works.

[2016-11-10 18:15] #52 closed

[2016-11-10 18:31] iamthewinnar commented on #41
It seems like it is currently working, at least within chrome.

[2016-11-10 18:33] allenhwkim commented on #41
Closing for now

[2016-11-10 18:33] #41 closed

[2016-11-10 19:15] #37 closed

[2016-11-11 05:27] ffcvr2 opened #54 "Dropdown is behind another auto-complete when we place a dropdown belowthe other"
I face a problem when placing a dropdown below the other.
![untitled](https://cloud.githubusercontent.com/assets/17157695/20205227/ad6b4d00-a809-11e6-9fe7-7a5dc6374f22.png)

Do you have any suggestions on this problem?

[2016-11-11 15:56] well-made commented on #40
@ajyadav013 any update on your contribution?

Would also be nice if it is possible to change text if no results are found in the source.

[2016-11-14 17:57] stefanstelzer opened #55 "Support for Textarea"
Hey guys,

is there any support forseen for textarea auto-complete support or should I contribute to the project?

Best Regards,

Stefan

[2016-11-14 18:01] allenhwkim commented on #55
I don't picture this. Could you explain more about it?

[2016-11-14 18:06] stefanstelzer commented on #55
I do have a texatarea that can be expanded by the user. This textarea should have the autocomplete ability as well. Now?

[2016-11-14 18:31] allenhwkim commented on #55
Textarea is very different from input (mainly singleline vs multiline), and ng2-auto-complete does not have support for textarea at the moment.

I would suggest that you still can use this `ng2-auto-complete` as it is for your textarea  to display anywhere within your textarea because it has its own input field and dropdown.

I can picture this.

![image](https://cloud.githubusercontent.com/assets

[2016-11-14 19:17] Tanato opened #56 "Input is cleared on focus/click"
This behavior of cleaning the input in focus seems a little odd to me cause, in my opinion, if the goals is to mimic the input behavior extending it with new features, the text in the input should be keeped like in default input component.

Another issue that this behavior creates is that if you click in the input and the shown value is changed to empty string, the value is not propagated to the n

[2016-11-14 19:38] #56 closed

[2016-11-17 05:09] bendg25 opened #58 "Webpack support?"
Hi

I am using webpack and am getting this error when trying to do a production build:

Unexpected value 'Ng2AutoCompleteModule' imported by the module 'AppModule'

Do you support webpack?

[2016-11-17 15:18] allenhwkim commented on #58
Yes, it support webpack, and I have tested it with min. 2 times with webpack.

[2016-11-18 07:36] haisaco opened #59 "I can't set width 100%??"
How set width 100% for input??

[2016-11-21 13:26] Adam-Michalski opened #60 "How to use remote sources with own http provider?"
I have my own Http provider and I want to use it inside auto complete to get sources
[code]

ngModule providers

[code]
How to use it to  make requests?

[2016-11-21 14:19] allenhwkim commented on #60
You can use observable example. Please clone Abe run app directory for code

[2016-11-21 16:36] jenscl commented on #54
I've this problem too. There are three auto-complete boxes below each other. The problem occurs when leaving the second box (without selecting a value) by clicking on the first box. The auto-complete dropdown correctly shifts to the first one, but the input field of the second box appears on top of the dropdown list.
![snip](https://cloud.githubusercontent.com/assets/18397964/20490978/1f3c29f0-b01

[2016-11-21 17:07] ffcvr2 commented on #54
It seems I didnot describe clearly. My case is the same as jenscl

[2016-11-22 20:51] kkotak commented on #58
I think this error is related to compiling Angular-cli with AOT. Any thoughts?

[2016-11-22 20:52] kkotak opened #61 "Support for allowing items not in the list"
It seems like currently you don't support binding new items to the model, thereby allowing users to input a value not found in the dropdown.

[2016-11-24 13:52] usmanwalana opened #62 "How to use with reactive forms?"
I have a complex form where i want to use `ng2-auto-complete` at three different places. Currently i am using simple html select to display the list. I am using angular 2 model driven forms to handle the form. I want to replace the select list with `ng2-auto-complete` using model driven approach. Is it possible to do so or do i have to change the whole form into template driven approach?

[2016-11-24 14:24] christophjohannsdotter commented on #59
.ng2-auto-complete{
  width: 100%;
  input{
    width: 100%;
}

works for me.

[2016-11-26 16:23] aberonni opened #63 "How to reset input?"
First of all well done for the great work!

I'm wondering if there is an easy way to reset the input after a value has been chosen?
I've tried the following but it doesn't seem to be working:

[code]
[code]

[2016-11-26 16:28] aberonni commented on #63
My bad, I was just making a mistake while resetting, the correct code was this:

[code]

[2016-11-26 16:28] #63 closed

[2016-11-27 02:58] tomasmax opened #64 "TypeError: Cannot read property 'constructor' of undefined at Ng2AutoCompleteComponent"
Hi,

I installed ng2-auto-complete in my Angular2 project, it is built with android-cli.

And I imported Ng2AutoCompleteModule in my AppModule.

But I am getting the following error:

`TypeError: Cannot read property 'constructor' of undefined at Ng2AutoCompleteComponent`

How can I fix it?

Thanks.

[2016-11-28 16:27] allenhwkim commented on #64
Thank you for reporting it. However I have no idea what's going on on your computer.  Is it android-cli specific or environmental issue? can you guide others how to reproduce the same issue?

[2016-11-28 17:10] aberonni commented on #61
I'd be interested in this too.

In my case I wouldn't want to add user's input to model, but simply give the user the possibility to enter something that isn't in the model.

[2016-11-28 21:27] aberonni commented on #54
I'm having the same issue. Just for clarity I've created a [fork of the example plunkr](http://embed.plnkr.co/bGFvgHfG3qrG5WDout8r/) in order to reproduce the problem. The only difference with the example plunkr is that I have added more options to the first dropdown.

Steps to reproduce:

- Click on second dropdown
- Click on first dropdown
- Observe second dropdown

I'm trying to see if I can un

[2016-11-29 04:46] haisaco commented on #59
I don't working it???

[2016-11-30 17:09] allenhwkim commented on #54
Thank you for reporting this issue and helps to understand it.
The issue is that the input box of the second dropdown is still visible with high zIndex.
![image](https://cloud.githubusercontent.com/assets/1437734/20762853/d5013ec4-b6f5-11e6-8c0a-1ba1f5f2faf7.png)
I will see what I can do about it.
Meanwhile, any help would be highly appreciated.

[2016-12-01 20:11] allenhwkim commented on #62
this module can handle model-drive form well except with formGroup.

[2016-12-01 20:12] ShadowManu commented on #58
Our team is using this Module with `angular-cli` and it works on normal builds. However, it does not work when specifically using it with AOT. I'll open an issue and PR later today or tomorrow about this, since our team needs it ;)

[2016-12-01 20:14] allenhwkim commented on #58
Thanks @ShadowManu

[2016-12-01 20:38] #54 closed

[2016-12-01 21:09] #36 closed

[2016-12-01 21:09] allenhwkim commented on #36
this new feature is release with 0.7.8

[2016-12-01 21:15] allenhwkim commented on #40
Fixed, and will be released soon.

[2016-12-01 21:15] #40 closed

[2016-12-01 21:32] allenhwkim commented on #48
Deployed, will be released soon

[2016-12-01 21:32] #48 closed

[2016-12-01 21:33] allenhwkim commented on #59
@haisaco could you create a plunker that you cannot set width 100%, so that we can modify your css?

[2016-12-01 21:34] #60 closed

[2016-12-01 21:36] allenhwkim commented on #61
@boban984 Can you design this for me?

[2016-12-02 08:00] well-made commented on #40
Thanks :)

[2016-12-02 15:56] ShadowManu opened #66 "AoT Compatibility"
As initially mentioned in #58, this package is not compatible with AoT compiler, at least the `angular-cli` AoT loader, specifically with the error `Unexpected value 'Ng2AutoCompleteModule' imported by the module 'AppModule'`.

Looks like something related to publish a `metadata.json` file generated by the angular compiler, as mentioned in angular/angular#11262.

I'll add a PR for this when I star

[2016-12-04 02:55] ndcunningham commented on #49
I think the page construction is incorrect.

FormsModule and ReactiveModule are two different approaches to forms. Though they can co-exist that doesn't mean it is the right approach.

`ngModel` is a part of FormsModule and should be used _inside a FormsModule form_ or incase you want a simple two way binding on a page for an input element.

Here is a snippet from Angular University about the two:

[2016-12-04 19:05] allenhwkim commented on #49
Nico, thanks

You just have me bunch of things to read.
Can you make a specific suggestion or a PR?

[2016-12-04 21:11] ndcunningham commented on #49
No problem.

I read through the source, the provided plnkr and realized that the page was indeed wrong.

@gectus Please see the updated plnkr: http://plnkr.co/edit/xPVNrtnBAExBBaHs2KAL?p=preview, Is this what you wanted to do?

@allenhwkim PR may not be necessary.

When using `ReactiveFormsModule` you need to tell the page the exact value you are binding. If you use an object you either need to cr

[2016-12-05 06:29] gectus commented on #49
Hi all

@ndcunningham
it will serve
Thanks a lot!

[2016-12-05 16:58] allenhwkim commented on #49
ReadMe.md is updated with this example, and closing it

[2016-12-05 16:58] #49 closed

[2016-12-05 16:59] allenhwkim commented on #62
Closing. there is example on README.md using FormGroup.
Please re-open this if the issue is still not resolved.

[2016-12-05 16:59] #62 closed

[2016-12-05 17:11] ShadowManu commented on #66
oh well... After 3 small nights fighting on the compilers and webpack, I think I got it. I'll be posting the PR now.

[2016-12-06 05:57] ndcunningham opened #68 "Incorrect Position and Duplicate inputs"
Before Focus:
![image](https://cloud.githubusercontent.com/assets/338948/20914440/a57df244-bb4d-11e6-86f2-5ab7cf5214ff.png)

After:
![image](https://cloud.githubusercontent.com/assets/338948/20914368/2e126b22-bb4d-11e6-817f-0b593de56989.png)

As you can see the 500 in the first image is covered by a mysterious element. The template has multiple Inputs which might be the culprit
![image](https://cl

[2016-12-06 14:38] paria-tk opened #69 "Problem with data binding for the first time"
I've used the auto complete in a tab component.
First time that i click on the input the list is empty but if i click somewhere and click again on the input, it is working.

this is html template:
[code]

this my component:

[code]

[2016-12-06 14:41] paria-tk commented on #69
it should implements  OnInit
export class FootprintGeneralComponent implements OnInit {

[2016-12-06 14:48] allenhwkim commented on #68
This is by design.

1. To go back to original value,

Assuming you enter 'garbage data' for auto complete, then press 'ESC' to cancel auto completion, we need to put the original value back.

2. To be used anywhere not only by input tag, but also in multiple auto complete, text area, or any.

   e.g. http://rawgit.com/allenhwkim/angularjs-autocomplete/master/test/autocomplete.multi.html

[2016-12-06 14:49] allenhwkim commented on #66
PR is merged

[2016-12-06 14:49] #66 closed

[2016-12-06 14:50] #58 closed

[2016-12-06 14:53] allenhwkim commented on #69
My guess is your `manufacturerList` has not been executed when you click autocomplete.
However, I want you to create a plunker for us to debug properly.

[2016-12-06 15:20] ndcunningham commented on #68
I think to go back to the original value we could always have the _original_ saved when the autocomplete is opened and if `ESC` is pressed set it back and close the autocomplete.

If this is the intended design then as you said just update the css.

[2016-12-06 19:19] allenhwkim commented on #61
this has been implemented

[2016-12-06 19:19] #61 closed

[2016-12-06 20:37] mhakir opened #70 "Get current dropdown list"
Hi,

First, great package!

Second, I have a question...

How can I get/retrieve the current items in the dropdown list and update my value on every change?

Thanks in advance!

Kind regards,
Matthias

[2016-12-06 21:34] allenhwkim commented on #70
Thanks, but I do not understand your question.
what does current items mean?

[2016-12-06 23:13] azjkjensen commented on #35
@Chabane will you elaborate on what the problem was and how you fixed it?

[2016-12-07 07:49] mhakir commented on #70
With current items, I mean the suggestions listed in the dropdown when typing in the input.

![image](https://cloud.githubusercontent.com/assets/24419524/20959199/08f8d87c-bc5a-11e6-8bec-3366e79984e9.png)
The items/objects/list/array in the red section.

Does this clarify?

[2016-12-07 14:01] markkesty opened #71 "Cannot read property 'style' of undefined"
On line 152 of ng2-auto-complete.directive.ts, there is a reference to component.inputEl. While component is defined, inputEl is not and so I get the following console error:

core.umd.js:2844 TypeError: Cannot read property 'style' of undefined
    at Ng2AutoCompleteDirective.styleAutoCompleteDropdown (ng2-auto-complete.directive.ts:152)
    at ZoneDelegate.invokeTask (zone.js:236)
    at Object.

[2016-12-07 14:54] allenhwkim commented on #71
Thanks for reporting this. However this seems not possible for me because Ng2AutoCompleteComponent must have input tag in it and it is assigned with ngOnInit, https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.component.ts#L152

Without a plunker example, I will consider this as an environmental issue.

[2016-12-07 15:34] markkesty commented on #71
It probably is an environmental issue. I created a Plunker and it worked beautifully. The same code failed in my application. **My application is a hybrid Angular 1 and Angular 2 site but I'm using your module in the Angular 2 side.**

Any ideas? I'm close to giving up and trying another component or writing my own.

[2016-12-08 09:34] markkesty commented on #71
OK, I was able to successfully make a Plunker of a hybrid Angular 1 and Angular 2 site and I added your component to it. I am using the most simple form of the test page - Array of Strings - since the problem happens there as well and it doesn't involve any http calls or anything fancy like that. Hopefully you'll be able to debug this now and see why it isn't working in a hybrid application.

[htt

[2016-12-08 09:59] allenhwkim commented on #71
@markkesty thank you very much

[2016-12-08 16:45] allenhwkim commented on #71
published with 0.8.1, please verify the change

[2016-12-09 06:34] surjitkumar25 opened #73 "Issue while remote data errors"
How to pass authorization header for remote data?

[2016-12-09 10:28] allenhwkim commented on #73
You can use observable. Please take a look at examples;

html here,
https://www.duolingo.com/skill/fr/Basics-1

and Javascript here,
https://github.com/ng2-ui/ng2-auto-complete/blob/master/app/app.service.ts#L24

You can set the header as the same as other angular2 http call

[2016-12-09 10:28] #73 closed

[2016-12-10 10:01] mhakir commented on #70
Can someone help me please?

Thanks in advance!

[2016-12-10 11:07] allenhwkim commented on #70
That's your source, and it should be in your code. From the following example, your current items are specified in `arrayOfStrings`
[code]

About `and update my value on every change`, what is `my value`? on what is `every change`?

Do you mean when auto complete dropdown is selected how do you update your value? It's done automatically.

[2016-12-10 11:08] allenhwkim commented on #59
Closing for no activity

[2016-12-10 11:08] #59 closed

[2016-12-10 11:09] #55 closed

[2016-12-10 11:10] allenhwkim commented on #64
Closing for inactivity

[2016-12-10 11:10] #64 closed

[2016-12-10 11:10] allenhwkim commented on #68
Closing

[2016-12-10 11:10] #68 closed

[2016-12-10 11:11] allenhwkim commented on #69
This will be closed  soon if we do not have a clear way to reproduce your issue with a plunker example.

[2016-12-10 17:41] #71 closed

[2016-12-11 04:50] mhakir commented on #70
The "source" are all items. I want the current items visible in the dropdown.
Let's say I have an array of 100 items specified as "source" and I also use "max-num-list='10' ".
How can I get the 10 current, visible items?

Thanks in advance!

[2016-12-11 15:55] allenhwkim commented on #70
What does 'current' mean?

[2016-12-11 15:56] allenhwkim commented on #70
Do you 10 items matching your search criteria?

[2016-12-11 18:46] mhakir commented on #70
Yes

[2016-12-12 09:58] gaurav-rathod opened #76 "Issue with arrow up and down keys"
Hi, Thank you for this package.

While using this, I assigned height to dropdown using following css code.
.ng2-auto-complete ul {
    height: 100px;
    overflow-y: auto;
}

Everything works perfectly except using arrow up and down key. When you try to move down in the list  with arrow down key,  it will select the next element but instead of scrolling it will get hidden. Can it be fixed ?

I hav

[2016-12-12 15:08] allenhwkim commented on #70
It's `filteredList` of the dropdown component. A dropdown component is dynamically created and removed and currently it's not exposed out side of a directive.

https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.component.ts#L132

To be frankly, I do not see use cases of needs to see the source of dropdown list at the moment.

[2016-12-12 15:13] allenhwkim commented on #76
@gaurav-rathod thanks for the detailed reporting of the issue.
Fixed height of dropdown has never been in the design. However, I will think about scrolling automatically unless it's a big change

[2016-12-12 15:21] sudhirroy-tudip opened #77 "focusout event"
Hey, I need a focus out event. Actually, what I am trying to do is that when user write something that is not in my whole list, I just empty that data.So, how can I do that?

[2016-12-12 15:27] allenhwkim commented on #77
Sorry I have just updated README.md

* `**accept-user-input**` boolean, if false and does not match to source given, it goes back to the original value selected.

Is this what you are looking for?

[2016-12-12 16:12] sudhirroy-tudip commented on #77
Thank you man

[2016-12-12 17:21] #77 closed

[2016-12-12 18:48] mhakir commented on #70
I wanted to use it to update my table beneath it.

[2016-12-13 21:44] Efactor888 opened #78 "Working with reactive forms issue."
Hello!

I been playing around with this and I reviewed the plunker example, however I cannot get the result from the dropdown to be inputted in the model per Form's control.

Based on the example link provided, by entering different values from the drop down selecting in the Form Control, it does not update the model. Just wondering how this will work with reactive forms.

http://plnkr.co/edit/Cxe

[2016-12-13 22:08] allenhwkim commented on #78
@ndcunningham We need to have better example for this reactive forms. I think people are still confused between model and form control.

[2016-12-13 23:32] Efactor888 commented on #78
Thank you  allenhwkim  and @ndcunningham, I believe I figured out a way to do this.

In the html input, I used the valueChanged method:
`<input formControlName="countries" ng2-auto-complete [source]="testdata" (valueChanged)="myCallBack($event)">`

Then I wrote a function to update the form control by patchValue:

`myCallBack(newVal) {
    return this.form.patchValue({customer: newVal})
  }`

[2016-12-13 23:32] #78 closed

[2016-12-19 09:17] sherm84 opened #79 "When setting the mouse on somewhere within the string, it goes immediately goes to the end of the string"
Expected: the cursor will remain at the same place and you'll be able to type.

[2016-12-19 13:44] askaFed commented on #59
@allenhwkim
I have the same issue, I want to use your directory with md-input, could you please explain what's wrong with my code?
![screenshot_6](https://cloud.githubusercontent.com/assets/16210354/21314617/b2240480-c600-11e6-9f39-9e4f982cd2f5.png)

            <table style="width: 100%" cellspacing="0">
              <tr>
                <br>
              </tr>
              <tr>

[2016-12-20 01:33] andreroggeri opened #80 "valueChanged emits when typing"
I was at 0.7.4 and after upgrading to 0.8.1 the behavior of valueChanged is different. (IDK if this was intended)

On 0.7.4, the valueChanged is only emited when a item from the list is selected

On 0.8.1 the valueChanged is emited every time the user types on the input.

Check the behavior below:

**0.7.4**

![](http://g.recordit.co/KlrBYpaXnc.gif)

**0.8.1**

![](http://g.recordit.co/FhpsyNB3zn.

[2016-12-20 01:45] andreroggeri commented on #80
I think its related to [this change](https://github.com/ng2-ui/ng2-auto-complete/blob/0.7.8/src/ng2-auto-complete.directive.ts#L168).

It seems that a condition is missing on that line

[2016-12-20 02:12] allenhwkim commented on #80
This change is to accept user input although it is not listed on the list.
If you want to limit your input only from the list, as like in 0.7.4,  `accept-user-input` as false, so that it only fire once.

[2016-12-20 08:35] askaFed opened #81 "How to set width 100% with md-input?"
I have the same issue as here #59 .
 I want to use your directory with md-input (line 2 should look like line 1 on the print screen).

![screenshot_7](https://cloud.githubusercontent.com/assets/16210354/21343103/d85bb826-c69d-11e6-88f5-8be62f01ae36.png)

Could you give me some advice how to fix my code?

            <table style="width: 100%" cellspacing="0">
              <tr>
                <td

[2016-12-20 11:34] VitaliyKovtun opened #82 "Format of item data in list"
Hey, can I display only value without an id of an item? If I have [{id: 1, name: 'name'}], and I need only to display name without (id), what should I do? Thank you.

[2016-12-20 12:21] allenhwkim commented on #82
there is `list-formatter` as yo see in README.md
[code]

[2016-12-20 12:39] andreroggeri commented on #80
Ah, makes sense.

Thanks ! =)

[2016-12-20 12:39] #80 closed

[2016-12-20 18:24] VitaliyKovtun commented on #82
Oh, ok. Thank you.

[2016-12-22 05:38] tomasmax commented on #64
Sorry I didn't get the notification of your response.

It was angular-cli my mistake. Finally I did the autocomplete manually. I don't know what was the problem.

Thanks.

[2016-12-23 11:51] subhani1249 opened #83 "In autocomplete, I need my ngModel value to be as 'Id' not as 'text'.Help me solve this!!"
Hi,
![autocomplete](https://cloud.githubusercontent.com/assets/10893928/21453336/fcba5522-c933-11e6-9c73-8b98dfab371f.png)
I have used like this . in my ng model i am getting text(display-property-name) in my ngModel variable. , but i need value (value-property-name) in my ngModel variable.

<input class="form-control" auto-complete [(ngModel)]="sortObj.ResponsibleId" [source]="individuals"

[2016-12-23 14:51] allenhwkim commented on #83
1.
Thanks for using this module. You can see your ngModel value by using ``{{sortObj.responsibleId | json}}. If your type of ngModel is an object, e.g. a JSON,  you will see an object, if not, you will see a string.

2. You can override your css. For example,

[code]

[2016-12-24 00:49] ndcunningham commented on #79
can you provide a plunkr of this?

[2016-12-25 05:39] labibismaiel commented on #69
I am facing the same issue, and it's exactly as described above, if the data is coming async, the first click inside the input will not show anything (even after the data is available), and if you click outside (to lose focus) then inside again, it starts working normally

[2016-12-27 16:58] vansoncrasta opened #84 "Display 'Loading' only after 'min-chars' condition is met."
Plunker example: http://plnkr.co/edit/3pB1Gx?p=preview
E.g. With Remote Source as HTTP URI String

The 'Loading' text is displayed as soon as the text-filed is focused.
Is there a way to show this only after the min-chars condition is met?

Also, do we have an option to display 'No rows found' if the remote source is empty. Any workaround?
Thanks in Advance.

[2016-12-28 15:16] #82 closed

[2016-12-28 19:21] allenhwkim commented on #79
This is intended behaviour to sepearte user input field from autocomplete input field. I am not sure this is worth to fix unless there are many upvotes.

[2016-12-28 19:21] #79 closed

[2016-12-28 19:57] allenhwkim commented on #81
A Fix has been made and published as 0.8.3, please verify the changes.

[2016-12-30 02:19] seadour commented on #64
I had this error too. In my case, it was because I had the incorrect variable name in the template (e.g. `<input type="text" auto-complete [source]="myVariable">`)

[2016-12-31 16:54] vansoncrasta commented on #84
Hi Allen,

That was super quick.
Could you apply the same logic to 'No Match Found' i.e only after the min-chars condition is met/ if remote call is made?

Thank you.

[2017-01-01 07:38] nov10 opened #85 "call to authenticated search api fails as it requires auth header"
Currently `ng2-auto-complete.ts > getRemoteData()` allows only string source i.e. url to api.
Is there a way to route function returning observable as a source. This way it can go through our custom httpService and auth header will be sent along.
If not possible, is there way to add header to search calls explicitly ?

[2017-01-02 01:09] allenhwkim commented on #85
Yes you can use observable as source. Please refer to the source at app directory

[2017-01-03 10:00] vansoncrasta commented on #84
Perfect.

Thank you.

[2017-01-03 10:00] #84 closed

[2017-01-03 10:35] nov10 commented on #85
Can you point me to a sample for that. Since `ng2-auto-complete.ts > getRemoteData(keyword: string): Observable<Response> {` takes string as input. How to pass my own component observable function `getSuggestions` to `[source]` input of ng2-auto-complete in html.

[code]

[code]

[2017-01-04 09:07] hibumbapartha opened #86 "If Used model driven approach then form.values is not getting updated."
It is working fine with ngModel but with formControlName it does not change the form values

[2017-01-04 10:37] sudhirroy-tudip opened #87 "How to format vaue-property-name and display-property-name?"
how can we edit vaue-property-name and display-property-name? Actually, I am implementing for country.
So, my abbreviation is (IN) and value is (INDIA). It  is displaying in list like "(IN)INDIA". I want to add space such that It looks like "(IN)   INDIA". For every country and state, I want to do same.How can we do that?
Can you help me please?

[2017-01-04 15:00] allenhwkim commented on #85
As you see `[source]` can be your own observable
[code]

appSvc.findHeroes:
[code]

[2017-01-04 15:00] #85 closed

[2017-01-04 15:02] allenhwkim commented on #87
There is `list-formater` as you can see in README.md

   *  list-formatter, function variable name, custom list formatting function.e.g. 'myListFormatter', not     'myListFormatter()'

[2017-01-04 15:02] #87 closed

[2017-01-06 02:31] seadour opened #88 "Feature request: typeahead in input field with first result from autocomplete list"
This would take the first match from the autocomplete list and fill in the rest of the input field in a lighter text color.

I made a mockup in Photoshop to demonstrate:

![screen shot 2017-01-05 at 6 24 36 pm copy](https://cloud.githubusercontent.com/assets/6138182/21705470/00ff5dd0-d375-11e6-92a3-ead2beab9201.png)

[2017-01-06 22:12] allenhwkim commented on #88
Thank you, but, I don't understand few things.

1. What if text we display on the list is different from the text user enters? This modules allows the custom formatting of the list item using `list-formatter`.
2. Why this feature is good for users? If we highlight text, then it makes more sense. This is google places auto complete example.
![image](https://cloud.githubusercontent.com/assets/143773

[2017-01-09 23:07] andreroggeri opened #89 "Repository name"
Angular 4 is around the corner, after its released the name of this package will be out of sync.

The angular team recommends using only "angular" instead "angular2".

I saw [other repo doing this](https://github.com/mattlewis92/angular-calendar/issues/69) and I think it makes sense

[2017-01-10 00:05] seadour commented on #88
In answer to your questions:

1. Do you mean, for example, if the user started typing "house" and the first match was "The White House"? In this case...I'm not sure. I guess my example would only work if the match was from the first character in the item. So perhaps this feature would only work in that case.

2. I like your example too. I also think this would be valuable.

3. Then, the field woul

[2017-01-10 10:03] jairusm opened #90 "Behavior request: Pressing Tab Key behavior"
Hi, thanks for this wonderful module. While using this i just have some observation while playing with the keyboard. It could be nice that when pressing the tab key it will pick out the highlighted item (same as pressing the enter key), just like the normal behavior of the select element. Just to have a more natural flow for better usability. :)

[2017-01-10 14:55] allenhwkim commented on #90
I don't know how you get this idea, but with normal select item tab does not pick the currently highlighted item, but only ENTER does.

ref; https://developer.mozilla.org/en/docs/Web/HTML/Element/select

[2017-01-11 12:37] smartHasmukh opened #91 "Value getting blank of AutoComplete using form control(Form Group)"
I have tried to use autocomplete input in form control for choose city. autoComplete working but when I have choose city then submit form then city is getting blank.

HTML CODE

[code]

TYPESCRIPT CODE

[code]
![autocomplete](https://cloud.githubusercontent.com/assets/8941195/21848739/6308d1ca-d828-11e6-99d1-d939ba7aec4c.png)

[2017-01-11 12:39] smartHasmukh commented on #91
Hello Guys,
Please help me for fix this issue
@allenhwkim @ndcunningham @Tanato @boban984 @Krisa

[2017-01-11 12:47] Tanato commented on #91
You tried to use NgModel instead of FormControl?

HTML
 [(ngModel)]="city"

TS
city: any;

[2017-01-11 12:59] smartHasmukh commented on #91
My entire architecture is not support ngModel so please suggest me another way

[2017-01-11 13:04] Tanato commented on #91
Can you set up a JSFiddle with this issue?

[2017-01-11 13:06] smartHasmukh commented on #91
I have to make it `http://plnkr.co/`. please give me 10 min.

[2017-01-11 13:13] smartHasmukh commented on #91
@Tanato  Please check it now - [Plnkr](http://plnkr.co/edit/a3XB9iMaeNvL3KQTr0pq?p=preview)

[2017-01-11 14:00] zoranmarjanovic opened #92 "Validation in reactive form"
Model in reactive form is not update if user something change in autocomplete. I need to make workaround with valueChanged event.

[2017-01-11 14:16] FlyingKatinka opened #93 "Prefill input"
Hi,

thanks for the great module.

I have a question and I'm not sure if I only don't know how to do it or if this feature is not possible yet. I use the autocomplete to fill a value in an object which gets saved to a database. The object can be edited later on. If it get's edited I'd like to prefill the value of the input field with the saved value. Is that possible?

Thanks in advance!

[2017-01-11 14:22] zoranmarjanovic opened #94 "Max item count"
Need max item count property.

[2017-01-11 14:25] #94 closed

[2017-01-11 14:26] zoranmarjanovic commented on #94
I found it in module, but missing in documentation. Use attribute 'max-num-list'

[2017-01-11 14:39] flashdave1973 opened #95 "Edit - No Match Found - Text"
Love the project..

I was wondering if it will be possible to edit the `No Results Found` text and allow for callback if selected?

[2017-01-11 14:43] flashdave1973 commented on #93
in the doc example the input is to `[(ngModel)]="myData"`... Would it not be possible for you to update `myData` from another service and then display that data?

[2017-01-11 14:59] allenhwkim commented on #92
Related to #91.

[2017-01-11 15:03] allenhwkim commented on #93
@flashdave1973 as @flashdave1973 suggests, use ngModel for that purpose.

[2017-01-11 15:05] allenhwkim commented on #95
There is "No Match Found" for http call.
https://github.com/ng2-ui/ng2-auto-complete/blob/66776e7f340bd2302de521902e6ef17d77e1c334/src/ng2-auto-complete.component.ts#L38

And the design for 'No Match Found' is only for informational, and not clickable. You can select a blank item though.

[2017-01-11 15:19] FlyingKatinka commented on #93
That's it! Thanks for the super fast hint.

[2017-01-11 15:57] flashdave1973 commented on #95
so hard coded `No Result Found` causes an issue with localization and translations. Also `blank` item is not available when no results found... can we make it available?  and can we submit a string to change the text value of `No Result Found`?

[2017-01-11 17:59] allenhwkim commented on #95
You need to specify "blank-option-text" to see blank item.

**blank-option-text**, string, guide text to allow empty value to be selected as in empty value of option tag.

[2017-01-11 18:09] #93 closed

[2017-01-11 18:09] allenhwkim commented on #92
@ndcunningham can you look at this?

[2017-01-11 18:10] allenhwkim commented on #95
@ndcunningham can you change this "No Match Found" to be configurable like 'blank-option-text'?

[2017-01-11 18:11] allenhwkim commented on #91
@ndcunningham Can you take a look at this?

[2017-01-11 18:11] #90 closed

[2017-01-11 18:11] allenhwkim commented on #89
I want, but may of 'angular' namespace has already been taken.

[2017-01-11 18:11] #89 closed

[2017-01-11 18:15] allenhwkim commented on #88
This is a good feature. However, it won't be implemented sooner. I will close for now this and reopen when there are more requests.

[2017-01-11 18:15] #88 closed

[2017-01-11 18:16] allenhwkim commented on #86
@ndcunningham this is related to reactive form too. I would appreciate if you take a look into it.

[2017-01-11 18:17] #83 closed

[2017-01-11 18:17] allenhwkim commented on #83
Closed for inactivity

[2017-01-11 18:22] ndcunningham commented on #86
Will do @allenhwkim

[2017-01-11 21:17] flashdave1973 commented on #95
Yessir... I understand how `blank-option-text` works... however it is not an available option when `No Result Found` is displayed, as far as I can tell.

[2017-01-12 02:13] allenhwkim commented on #95
So, what you need is to have mousedown available for `No Match Found`?

Before:
[code]
After:
[code]

[2017-01-12 05:11] ndcunningham commented on #95
is this a new feat?

[2017-01-12 11:52] smartHasmukh commented on #91
Guys have you checked my demo from [Plnkr](http://plnkr.co/edit/a3XB9iMaeNvL3KQTr0pq?p=preview)?

[2017-01-12 14:07] flashdave1973 commented on #95
yessir.. thank you sir

[2017-01-12 14:10] ndcunningham commented on #91
Yes https://github.com/ng2-ui/ng2-auto-complete/pull/96

[2017-01-12 14:49] allenhwkim commented on #95
@ndcunningham that's a suggested new feature. Not implemented yet.

[2017-01-12 14:52] #92 closed

[2017-01-12 17:32] crh225 opened #97 "min-chars=1 then backspace, shows entire list"
Hello
Im using the auto complete like
[code]
If I type in something that matches, with one character everything shows fine. Then if I backspace the one character out, it shows the entire list again.

[2017-01-12 21:29] ndcunningham commented on #86
close? OP can reopen if issue is still around

[2017-01-13 02:29] #81 closed

[2017-01-13 02:30] allenhwkim commented on #97
fixed, please verify the test

[2017-01-13 02:31] #70 closed

[2017-01-13 04:30] smartHasmukh commented on #91
@allenhwkim It does not working. I have tried so please help me how can I do it? I have latest auto complete install but not working

[2017-01-13 04:34] smartHasmukh commented on #91
Working fine Thanks @allenhwkim  and @Team

[2017-01-13 13:29] rsheptolut commented on #35
@Chabane yeah, would be good to know, because I'm struggling with the same issue now. There's nothing about exporting Ng2AutoCompleteModule in the Install section of the README.md of ng2-auto-complete repository...

[2017-01-13 15:09] #91 closed

[2017-01-14 23:02] #97 closed

[2017-01-14 23:08] allenhwkim commented on #95
This feature has been implemented closing

[2017-01-14 23:08] #95 closed

[2017-01-14 23:09] allenhwkim commented on #86
implemented. and closing.

[2017-01-14 23:09] #86 closed

[2017-01-14 23:31] allenhwkim commented on #76
It turns out that it's not just possible with `scrollIntoView`. We need to adjust container scrollY based on the condition of selected and hidden element. e.g.

* if the selected element is hidden on the top, scroll to show it.
* if the selected element is hidden on the bottom, scroll to show it.

It's not that simple change, but it's possible. any volunteer?

[2017-01-14 23:53] allenhwkim commented on #69
Thanks for reporting this. However, if your source is changed by observable, your source must be an observable type, not a static one.

[2017-01-15 00:34] ndcunningham opened #100 "Bug - FormControl value does not update when item is selected or when values are entered"
When i update my formControl using the ng2-auto-complelete directive it does not update the value.

please see plnkr: http://plnkr.co/edit/yCNNqBffko1VZFGpI2KU?p=preview

[2017-01-15 00:38] #100 closed

[2017-01-15 05:56] twop opened #102 "requires Http by default"
Decided to try it out and after copy/pasting the example ({id, value}) got this:
No provider for Http!

Checked the code. It seems that utility class Ng2AutoComplete can have it as @Optional()
see: https://angular.io/docs/ts/latest/guide/dependency-injection.html

[2017-01-15 15:50] khex opened #103 "connect with WebPack"
I'm playing with [universal-starter](https://github.com/angular/universal-starter) that builds by WebPack

How to

to `webpack.config.js` to avoid this error

`var paramTypes = ctorParameters.map(function (ctorParam) { return ctorParam && ctorParam.type; });`
`ctorParameters.map is not a function`

[2017-01-15 19:34] allenhwkim commented on #102
Hmm, I have always thought `Http` is a necessary part of auto complete.
I would appreciate if you make a PR.

[2017-01-15 19:36] #69 closed

[2017-01-15 19:37] allenhwkim commented on #103
If you use webpack, you don't need to set `systemjs.config.js` at all.

[2017-01-16 09:52] rsheptolut opened #104 "Error when using ngModel inside an ngForm"
When I declare my input inside a form that has an ngForm directive, I get this error when autocomplete opens:

[code]

It's coming from `componentInputChanged` method, this row:

[code]

I have an `undefined` formControlName here. I tried to set this attribute on my input, but then angular complains it has no providers for `NgControl` (whatever that is). Also, apart from this error, ng2-auto-compl

[2017-01-16 12:29] rsheptolut commented on #104
Wow, apparently the issue is already obsolete. I was using version "0.8.7" and this is already fixed in "0.8.9". Thank you, @ndcunningham, you've fixed my issue two days before I reported it!

[2017-01-16 12:29] #104 closed

[2017-01-16 14:53] AbdullahNasir commented on #103
getting the same error

[2017-01-16 15:00] allenhwkim commented on #103
Did you update your angualr version?
https://stackoverflow.com/questions/41285889/ctorparameters-map-is-not-a-function-in-angular2-mdl

[2017-01-16 15:26] AbdullahNasir commented on #103
yeah, trying that

[2017-01-17 05:13] nivesh2 opened #105 "Only works for open public API's."
As it sends **GET** request by default, thus sending data (access token) in body is not possible.
Should have an option to send **POST** request or set data in request Headers.

**Source Code:**
[code]

[2017-01-17 09:36] kootenpv commented on #85
It's not a complete example.

What does `data.results` have to do with anything?

I created:

[code]

[2017-01-17 14:02] crh225 commented on #97
@allenhwkim, did you publish it on NPM already?

[2017-01-17 15:40] allenhwkim commented on #105
You should use `Observable` as a source. Please take a look at Observable example in README.md

[2017-01-17 15:40] #105 closed

[2017-01-17 15:42] allenhwkim commented on #97
@crh225 I did

[2017-01-17 15:52] crh225 opened #106 "cursor focus"
When I click on the auto complete box, the cursor focus does not show the normal |

instead it is blank, and it is confusing to the user what textbox the user is in. For example, we have 20 autocomplete boxes on a form.
[code]

[2017-01-17 17:14] allenhwkim commented on #106
![image](https://cloud.githubusercontent.com/assets/1437734/22031357/5e50b99c-dcae-11e6-88b9-e2dbd1844cab.png)

I see a cursor. Is it environmental issue?

[2017-01-17 19:00] crh225 commented on #106
@allenhwkim , I am testing in the latest version of google chrome. May I ask, what browser are you using? I will test in IE as well.

[2017-01-17 19:32] allenhwkim commented on #106
![image](https://cloud.githubusercontent.com/assets/1437734/22036477/b789ec8c-dcc1-11e6-894b-f7f956355598.png)

[2017-01-17 19:32] crh225 commented on #106
It must be something wrong with my css somewhere. cheers.

[2017-01-17 19:32] #106 closed

[2017-01-19 13:35] manholok opened #107 "How to style the input"
I want to add some padding. How do I do that, I also see some shadow dom stuff in the inspector...

Could you point me into the right direction?

My normal inputs has some space on the left
![screen shot 2017-01-19 at 14 34 00](https://cloud.githubusercontent.com/assets/2269966/22108637/5c7961da-de54-11e6-85ba-96767b7778be.png)

But autocomplete has a different padding
![screen shot 2017-01-19 at

[2017-01-19 14:00] manholok commented on #107
sorry I found the styling

[2017-01-19 14:00] #107 closed

[2017-01-19 16:43] weinianhe opened #108 "styling needed"
Hi is there styling functionality available for this project? let me know thanks!

[2017-01-19 20:34] allenhwkim commented on #108
No, but it's possible.
You can override default style from your end unless you want to improve the default style.
https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.component.ts#L54

[2017-01-20 18:10] allenhwkim opened #109 "Example Usage of Ng2AutoComplete As a Component"
This auto complete is designed to be used without use of `ng2-auto-complete` as a directive.

In summary, currently many examples are provided with the usage like the following.

    <input ng2-auto-complete ....  >

It's also possible to use `ng2-auto-complete` as a component like the following

    <ng2-auto-complete .....></ng2-auto-complete>

Please create an example for the second case.

[2017-01-23 16:35] crh225 opened #110 "Error converting circular structure to JSON"
Here is my plunkr
http://plnkr.co/edit/CaLlgu1NhwCTH88kO56S?p=preview

my columns (my list im trying to bind to) look like this
[code]

![image](https://cloud.githubusercontent.com/assets/19475195/22212813/a81f5698-e157-11e6-9f31-b40027e8779c.png)

[2017-01-23 18:03] allenhwkim commented on #110
Thanks for reporting, but it's not related to this module.

[2017-01-23 18:03] #110 closed

[2017-01-23 19:45] Jonatthu opened #111 "Working with Observables of custom services"
The next code is not working for me :/
Am I forgetting something?

`Error in ./Ng2AutoCompleteComponent class Ng2AutoCompleteComponent - inline template:4:4 caused by: Cannot read property 'GetbyCategoryName' of undefined`

Method
`  public searchRegularCategories(term: string) {
    return this._categoriesService.GetbyCategoryName(term).map(x => x.data);
  }`
Html
`            <input

[2017-01-23 19:49] Jonatthu commented on #111
Seems like only accept a property function as parameter and not a method, is there a real reason for why ?

But with this is working perfectly!
[code]

[2017-01-23 20:01] allenhwkim commented on #111
it's about execution context. I am not sure why it must be assigned as a variable.

@ndcunningham can you investigate that if it is possible to assign a method instead of a variable for this.

Related source code: https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.component.ts#L212

[2017-01-23 20:02] allenhwkim commented on #108
If you want to imporove the existing style, please create another PR

[2017-01-23 20:02] #108 closed

[2017-01-23 20:02] #103 closed

[2017-01-24 02:13] ndcunningham commented on #111
maybe just do `.bind(this)` for your bound callback?

[2017-01-24 07:05] Jonatthu commented on #111
You mean on the HTML or the method?

[source]="foo.bind(this)"?

[2017-01-24 19:17] crh225 opened #112 "blur not working as expected"
http://plnkr.co/edit/iIWNEkuvs61hk5blXS5X?p=preview

blur is getting called when the element is focused

[code]

after clicking out of the textbox, it does not re call blur either.

[2017-01-24 21:04] allenhwkim commented on #112
This is intentional design to have a separate input for autocomplete.
Let me find out any way not to use separate input. It make take some time

[2017-01-24 21:08] crh225 commented on #112
maybe when the model changes, call blur?

[2017-01-24 21:41] allenhwkim commented on #112
@ndcunningham Can you improve this not to use input tag when it's called by a directive?

1. Keep component input tag as it is
2. When it is called by a directive, communicate to component directly without using input field of the component.

The following behaviour should be set for the input field.
https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.component.ts#L25-L31

[2017-01-25 05:17] worldeditor11 opened #115 "Focusing on input using custom directive does not show list?"
As the title already stated, I have made an autofocus custom directive for my input elements. The directive automatically place the cursor on the input element. However, doing so doesn't show the list despite cursor is on the input box but only if the user click on the user box. Is there any way to solve this?

Thank you.

[2017-01-25 11:54] Drol commented on #86
form.values are updated. But form.dirty, form.pristine and form.invalid is not changed. I guess other statuses is not set either.

[2017-01-25 14:45] allenhwkim commented on #115
Duplicate to #112

[2017-01-25 14:46] #115 closed

[2017-01-25 14:46] allenhwkim commented on #109
Done

[2017-01-25 14:46] #109 closed

[2017-01-25 15:42] flithuge opened #116 "list-formatter problems"
Hi ! i wanted to custom the drop down list

but i got a unexpected **error** :
TypeError: formatter.apply is not a function
    at Ng2AutoCompleteComponent.getFormattedList (ng2-auto-complete.component.js:145)
    at View_Ng2AutoCompleteComponent5.detectChangesInternal (component.ngfactory.js:175)
    at View_Ng2AutoCompleteComponent5.AppView.detectChanges (view.js:425)
    at View_Ng2AutoComplete

[2017-01-25 16:58] crh225 opened #117 "request: Demo of list formatter"
I was wondering if you can add the listformatter to the plunkr on the main page

http://plnkr.co/edit/3pB1Gx?p=preview

[2017-01-25 17:03] crh225 commented on #117
I did try myself and couldnt get it working: http://plnkr.co/edit/SbzOv4OAXKlZ3mkcOmqn?p=preview

[2017-01-25 17:03] crh225 commented on #116
same issue here: here is my plunkr
http://plnkr.co/edit/SbzOv4OAXKlZ3mkcOmqn?p=preview

[2017-01-25 17:05] crh225 commented on #117
Going to add it to #116

[2017-01-25 17:06] crh225 commented on #116
perhaps you can add the listformatter to the plunkr on the main page

[2017-01-25 17:24] #117 closed

[2017-01-25 17:25] crh225 commented on #116
I got the list formatter working:
http://plnkr.co/edit/CaPJgQJ0jgnQMOvy9kTS?p=preview

I found it in one of the demos, just not the top one.

[2017-01-25 17:26] crh225 commented on #116
list formatter needs to be in brackets.
![image](https://cloud.githubusercontent.com/assets/19475195/22301545/14696808-e2f1-11e6-8efc-e9fac168aa3f.png)

[2017-01-25 20:51] crh225 commented on #97
@allenhwkim, this is not completly fixed

repeat the steps, and you can see a little grey div that appears, but it is empty.

![image](https://cloud.githubusercontent.com/assets/19475195/22308704/acc376d6-e30d-11e6-9a12-f286cfb6a664.png)

[2017-01-25 20:52] crh225 opened #118 "min-chars=1 then backspace, shows empty div w/ grey background"
see #97

repeat the steps, and you can see a little grey div that appears, but it is empty.
http://plnkr.co/edit/dOEp33aYHNyDz0jg8tCq?p=preview

![image](https://cloud.githubusercontent.com/assets/19475195/22308704/acc376d6-e30d-11e6-9a12-f286cfb6a664.png)

[2017-01-26 14:12] johnrayner opened #119 "Accept-user-input=false does not revert value"
I have set accept-user-info="false" in [this plunk](http://plnkr.co/edit/ypgiDM3jtmm1za31Qkk8?p=info).  I'd like to have the value on the input box revert if the user does not pick an option from the list, e.g. if the user type "q" on the plunk and tabs out, then the input box and model should revert to undefined.  Is this possible with the current version?

[2017-01-26 16:18] crh225 commented on #119
@johnrayner, you need to put it in square brackets

 [accept-user-info]="false"

http://plnkr.co/edit/soSvjHNUeNov8S2HSrfH?p=preview

[2017-01-26 16:18] crh225 commented on #119
if you don't false gets evaluated as a string, and angular doesnt evaluate it as a boolean

[2017-01-26 16:20] crh225 commented on #119
same thing if you ever decide to use list-formatter="myListFormatter"

it would need to say [list-formatter]="myListFormatter"

[2017-01-26 16:21] johnrayner commented on #119
Doh!  Thanks for the help.  Works nicely now.

[2017-01-26 16:21] #119 closed

[2017-01-26 17:13] allenhwkim commented on #111
@Jonatthu yes he meant for that I think. Does it work for you?

[2017-01-26 20:10] crh225 commented on #118
@allenhwkim , have you already pushed to NPM?

[2017-01-26 21:38] allenhwkim commented on #118
@crh225 I did, the recent version is 0.10.0

[2017-01-26 21:41] crh225 commented on #118
cool. Ill get latest.

[2017-01-26 21:47] #118 closed

[2017-01-26 21:50] crh225 commented on #112
Done!

[2017-01-26 21:50] #112 closed

[2017-01-27 03:55] #116 closed

[2017-01-27 03:56] #102 closed

[2017-01-27 04:00] allenhwkim commented on #111
@Jonatthu xxxxx.bind(this) works, and an example is updated.
  http://plnkr.co/edit/uY3rsBg9F8aaoemP4Mjp?p=preview&open=app%2Fapp.component.ts

[2017-01-27 04:00] #111 closed

[2017-01-27 07:39] Jonatthu commented on #111
Thank you very much, It is working !

[2017-01-30 20:04] crh225 opened #121 "question: searching scans entire model"
When searching for "t1" on this plunkr:
http://plnkr.co/edit/2agivY9m6eOxudJxHmeh?p=preview

all results return. Is there a way we can just get it to search certain fields, such as key/value fields only?

[2017-01-30 20:06] crh225 commented on #121
In my use case, most of my models have a true/false value in the model. if they search for the word true, even though it is not a key/value field, all results show.

[2017-01-30 20:43] allenhwkim commented on #121
You need to build a Observer function for that. Please take a look at 'Observer Source' example for tha.

[2017-01-30 20:54] #121 closed

[2017-02-01 09:23] shyamal890 opened #122 "Bug: accept-user-input not working"
I don't know if I am doing something wrong but when I use `accept-user-input = 'false'` in the [example of Key/Name,](http://plnkr.co/edit/3pB1Gx?p=preview) putting a non existing name in input results in model being update to the user entered value. It should have been reverted back to previously selected model.

[2017-02-01 09:26] shyamal890 opened #123 "Feature Request: loading-component similar to loading-text"
Currently we can change the text displayed for loading purpose. With that, the end-user would also require an option to show custom html (spinner div, etc). Is it possible to have a `loading-component` / `loading-template`?

[2017-02-01 14:40] allenhwkim commented on #122
http://plnkr.co/edit/T5K1faYzb0LeSD9IttxE&open=app/app.component.ts

The default value of `accept-user-input` is false,
If you want to prevent user entering invalid value use `[accept-user-input]="true"`

[2017-02-01 14:40] #122 closed

[2017-02-01 14:42] allenhwkim commented on #123
Your requirement is not clear to me. Please be specific with an example.

[2017-02-01 16:34] crh225 opened #124 "bug: autcomplete does not allow the character ["
Go to plunkr
http://plnkr.co/edit/3pB1Gx?p=preview

in first input click into it and hit the character "["

![image](https://cloud.githubusercontent.com/assets/19475195/22515946/e18953ca-e869-11e6-9256-c6ea89c293ea.png)

![image](https://cloud.githubusercontent.com/assets/19475195/22515987/0387c51a-e86a-11e6-8bcb-8181f6732da2.png)

[2017-02-01 18:41] crh225 commented on #123
I think what they are requesting is to have something like the list-formatter function, so they can display custom html instead of the loading text.

something like loading-formatter

[2017-02-01 19:58] crh225 commented on #124
doesnt like slash either

![image](https://cloud.githubusercontent.com/assets/19475195/22523870/89dd94e8-e886-11e6-8917-3883e54cdb2a.png)

![image](https://cloud.githubusercontent.com/assets/19475195/22523876/8f6c2a00-e886-11e6-985a-7627e562c275.png)

[2017-02-01 20:13] crh225 commented on #124
different plunkr
http://plnkr.co/edit/2XRrck2cWVWcvbJnj6z5?p=preview

![image](https://cloud.githubusercontent.com/assets/19475195/22524369/88db1780-e888-11e6-8968-6d5b7031de07.png)

![image](https://cloud.githubusercontent.com/assets/19475195/22524371/8ef9f884-e888-11e6-823e-d57223dec0de.png)

[2017-02-01 21:29] crh225 opened #125 "Feature Request - Show Full List When Box is Clicked"
It would be really useful to show all values when the input box is clicked. I realize this is an autocomplete component, but it can also double as a useful dropdown component.

[2017-02-01 22:23] allenhwkim commented on #125
I think this feature is already there

[2017-02-02 01:17] allenhwkim commented on #125
https://rawgit.com/ng2-ui/ng2-auto-complete/master/app/index.html#/component-test

[2017-02-02 01:40] crh225 commented on #125
I will clarify tomorrow what I'm talking about with an example

[2017-02-02 02:03] allenhwkim commented on #124
Fixed and released 0.10.2

[2017-02-02 02:14] benwu9999 opened #126 "error when used in nested reactive form"
An error is thrown if the ng2-auto-complete directive is in a nested input.

for example, in this Plunker example: http://plnkr.co/edit/zp6RNBJQxDL4DkbZrSrk

Continent is nested within formGroup "innerGroup" which is nested in formGroup "myForm".  When one tries to select an item, an error is thrown. This seems to be related by an upgrade of angular dependencies as this did not happen before.

[co

[2017-02-02 02:32] allenhwkim commented on #126
@ndcunningham can you take a look at this?

[2017-02-02 10:43] #126 closed

[2017-02-02 14:18] crh225 commented on #125
When you focus in a texbox, it shows only one item in the list.
![image](https://cloud.githubusercontent.com/assets/19475195/22552777/e9a9ac92-e91f-11e6-9de6-6911277ce3a3.png)

What Im proposing is that when you focus on the textbox, it show all items, even if a value is already selected. What we want to do is use the list-formatter to highlight items that match, and show all values all the time.

[2017-02-02 14:20] crh225 commented on #125
the end result would look like this
![image](https://cloud.githubusercontent.com/assets/19475195/22552911/6ba03f04-e920-11e6-98e0-418770656154.png)

[2017-02-02 14:25] crh225 commented on #124
verified

[2017-02-02 14:25] #124 closed

[2017-02-02 14:28] allenhwkim commented on #125
Gee

[2017-02-02 14:31] allenhwkim commented on #125
Sorry auto correction
Yes exactly that feature is already there by separating directive and component

Sent from my iPhone

[2017-02-02 14:35] crh225 commented on #125
Ill try it, but the demo you provided does not show all items, after the initial item is selected.

[2017-02-02 14:37] allenhwkim commented on #125
Ok I will give you a different example

Sent from my iPhone

[2017-02-02 14:38] crh225 commented on #125
here is my plunkr so far:
http://plnkr.co/edit/mTvPCm84Po7eDc0PMpWJ?p=preview

[2017-02-02 15:11] allenhwkim commented on #125
Try take a look at this example, http://plnkr.co/edit/FBIe69?p=preview
If this is too difficult, we can improve.

[code]

[2017-02-02 16:05] crh225 commented on #125
This is the functionality! Thanks

I did notice something though:
![image](https://cloud.githubusercontent.com/assets/19475195/22557117/13fc45d6-e92f-11e6-8528-8580814737c6.png)

I can mess around with the list formatter and see what I can do, but shouldnt the selected item be highlighted, and not the first item in the list?

[2017-02-02 16:07] crh225 commented on #125
![image](https://cloud.githubusercontent.com/assets/19475195/22557204/6c6628cc-e92f-11e6-9d31-0599073d0e01.png)

another exapmle

[2017-02-02 16:12] crh225 commented on #125
your suggested improvement would make it easier to use. it saves an import statement and 8 lines of code.

[2017-02-02 17:19] johnrayner opened #128 "User can bypass autocomplete input box when using Material design"
We use material design with accept-user-input set to false.  What we've noticed is that when users click on the field label to apply focus, the material input box gets focus rather than the auto complete input box.

**Current behavior**
Plunker: http://plnkr.co/edit/UbGH3h
* Enter a value using auto complete behavior
* Click on the "amount" label
* Focus is now applied to the material input box
*

[2017-02-02 17:26] crh225 opened #129 "logging"
can you please turn off logging or make it optional and default to false?

![image](https://cloud.githubusercontent.com/assets/19475195/22560478/65395802-e93a-11e6-86e7-9fd0d25d6319.png)

[2017-02-02 18:31] crh225 commented on #129
![image](https://cloud.githubusercontent.com/assets/19475195/22562745/74a9bc88-e943-11e6-93be-5288ee35b17e.png)

[2017-02-02 18:33] crh225 commented on #129
Im using version 0.10.2

[2017-02-02 18:42] allenhwkim commented on #128
This happens `(focus)`, `(blur)` applies to `<md-input>`, not to `<input>`

https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.directive.ts#L22

@ndcunningham Do you want to fix this?

[2017-02-02 18:57] aslamj opened #130 "How to set the default value of the selection using FormControl or FormGroup?"
How to set a selected value from model, when a FormControl or FormGroup is used for the reactive forms?
I know that when ngModel is used, then the selection from the model works fine (http://plnkr.co/edit/3pB1Gx?p=preview),

but it is not working in reactive forms (http://plnkr.co/edit/QH6LiZvkscNcYiGubZGl?p=preview).

**Current behavior**
[object Object] is being displayed as current selection an

[2017-02-02 19:09] allenhwkim commented on #130
This directive does not do anything related to the INITIAL value. It just display as it is. Shouldn't it?

[2017-02-02 19:12] aslamj commented on #130
Should it display the item value as specified by 'display-property-name' for the initial value as compared to displaying what ever is being returned from FormControl.vaule toString() method. It works fine with the ngModel way, meaning it is honoring the  'display-property-name' for the initial value being set from the ngModel.

[2017-02-02 19:15] allenhwkim commented on #130
@aslamj you are right
It does only set the value properly only for `ngModel`
https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.directive.ts#L78

@ndcunningham can you take a look at this?

[2017-02-02 19:47] aslamj commented on #130
Right now I'm using following:
[code]
for the use case to work with the initial values, but wish it could be fixed for forControl/forControlName.

[2017-02-03 01:58] ndcunningham commented on #129
I removed it with https://github.com/ng2-ui/ng2-auto-complete/commit/cd777b2f6f135b71a53d3e4510d332ca2433e4ec oh well

[2017-02-03 03:02] #130 closed

[2017-02-03 21:59] aslamj commented on #130
The fix #131 broke the use case where: model->view binding is needed, but my initial value is null or undefined (sometimes), see plunker: http://plnkr.co/edit/YhF5dRE8G7MD30rGilY7?p=preview

TypeError: Cannot read property 'name' of null
    at Ng2AutoCompleteDirective.ngOnInit (VM1251 ng2-auto-complete.umd.js:632)
    at Wrapper_Ng2AutoCompleteDirective.ngDoCheck (VM1315 wrapper.ngfactory.js:177)

[2017-02-03 22:26] #129 closed

[2017-02-04 00:22] allenhwkim commented on #130
published again as 0.10.5.

[2017-02-04 00:23] allenhwkim commented on #123
anyone who wants to take over this? I tried but failed with security errors.

[2017-02-05 07:51] shyamal890 commented on #125
Hmm, there should be an easier way to achieve this. Something like `minLength` when set to 0 would dropdown options on focus.

[2017-02-05 07:53] shyamal890 opened #133 "Please do include Changelog.md"
It would nice to have a changelog as it makes updating package a little easier

[2017-02-05 07:56] shyamal890 opened #134 "Feature Request: Debounce property"
If a http call is to be made to the server everytime on change in searchText, it would be pertinent to have debounce in place

[2017-02-05 09:32] shyamal890 commented on #122
@allenhwkim Not able to see any difference
![check](https://cloud.githubusercontent.com/assets/6606965/22625139/048859f0-ebb4-11e6-908d-cbd44b852ee4.gif)

[2017-02-05 10:00] shyamal890 opened #135 "Feature Request: value property should bind with ngModel"
It seems that `value property name` is not binding with `ngModel` rather the whole model is binded.

This feature would be very useful for:
1. when we only want to retrieve a property from a model but not the whole model.
2. Default binding on initialization.

[Example Plunker](http://plnkr.co/edit/ZCvxVc6mKTz5OEM3M2IP?p=preview) in which by `value-property` is set to `id`. However, setting `ngMod

[2017-02-05 19:44] allenhwkim commented on #134
There is 500ms delay already implemented

[2017-02-05 22:56] allenhwkim commented on #134
Is there an issue with debounce problem?

[2017-02-05 22:58] allenhwkim commented on #133
Created changelog.md

[2017-02-05 22:58] #133 closed

[2017-02-05 22:59] allenhwkim commented on #134
Closing this by not following issue template. Please re-create this issue.

[2017-02-05 22:59] #134 closed

[2017-02-05 22:59] allenhwkim commented on #135
Closing this by not following issue template. Please re-create this issue.

[2017-02-05 22:59] #135 closed

[2017-02-06 05:12] shyamal890 opened #136 "Feature Request: value property should bind with ngModel"
**Current behavior**
It seems that `value-property-name` is not binding with `ngModel` rather the whole model is binded.

**Expected/desired behavior**

When defining `value-property-name` one would only want to retrieve a property from a model but not the whole model. May be `value-property-name` should be changed to `track-by-property` and `value-property-name` would define if the whole model or

[2017-02-06 14:53] allenhwkim commented on #136
I am not sure about this requirement. From my experience, almost all time, I wanted to have the full object instead of only value,  e.g. Product, Item, or Page, instead of product name, item name and page name.

[2017-02-06 15:06] shyamal890 commented on #136
Let me give an example where this is required:
Lets say there are some hotel rooms whose model would contain properties: `RoomId, Type, Cost, Capacity, isAlloted`
`User Model` contains properties: `UserId, Email, Age, Name`

App may have already downloaded a list of users earlier.
Through auto complete we want to assign a predefined user to a room. On selection I only need to send `UserId` with `R

[2017-02-06 15:25] allenhwkim commented on #136
What if I need a whole model as a value?

e.g. {id: 1, name: "My Name", address: "xxx", ...}

display-property-name: `name`

What if I need whole model, not only id, as the value?

[2017-02-06 16:06] allenhwkim commented on #136
Not fully following,. can you give me an example with this ` {id: 1, name: "My Name", address: "xxx", ...}`

[2017-02-06 21:34] shyamal890 commented on #136
When `value-property-name = "id"` the whole model is binded.

However, to chose only one property of the model to bind. This is what I propose:
1. Changing only attribute name of `value-property-name` to `track-by-property` and leaving it's implementation intact.
2. Create a new attribute `value-property-name`.

As per point 2, the implementation is changed in such a way that if a user wants to ge

[2017-02-06 21:48] shyamal890 commented on #136
Absolutely, that is why the current implementation of `value-property-name` remains as it is just under a different name `track-by-property`. Hope I am making sense here.

[2017-02-06 21:49] allenhwkim commented on #136
What if user does not specify `track-by-property`, should it be `id` in default?

[2017-02-06 21:52] allenhwkim commented on #136
NOTE:From the code, `valuePropertyName` is not much in use

[2017-02-06 21:53] shyamal890 commented on #136
Yes if user doesn't specific `track-by-property` it will take `id` as `default`. Incase of an array of say string (single property) there is no need for `track-by-property`, `value-property-name` and `display-property-name`

[2017-02-06 21:54] shyamal890 commented on #136
Agreed, it can be even argued that it should be removed altogether.

[2017-02-06 22:03] allenhwkim commented on #136
@svitlychnyi
How about this?

*  introducting `select-value-of` instead of `track-by-**`.
  * because we are not tracking any.
  * If omitted, select the whole model, the element of list
  * If given, return the key of the row as the value

* `display-property-name` and `value-property-name`
   * It is only used for default list formatting.
   * We can rename it or
      * list-value-property-name

[2017-02-07 09:40] shyamal890 commented on #136
Perfect! Would be great to have this in place.

[2017-02-07 13:41] johnrayner commented on #128
Thanks for the code change.  This seems to fix the focus issue, i.e. focus now always goes to the auto-complete input element.  However, the control doesn't revert its value on blur.  It's accepting user input of invalid values.

[2017-02-08 11:43] youneschaoui opened #137 "valdiate user input to force user choose one of suggested elements"
Is there a native way to validate input to make sure if user wont give free text other than values suggested ?

[2017-02-08 21:10] shyamal890 commented on #136
Any timeline on when this feature would be implemented?

[2017-02-09 02:50] allenhwkim commented on #137
README.md says
[code]
This does not work?

[2017-02-09 03:18] allenhwkim commented on #125
![image](https://cloud.githubusercontent.com/assets/1437734/22767868/4b9fdba2-ee4c-11e6-8723-e15fd1e05ac6.png)

![image](https://cloud.githubusercontent.com/assets/1437734/22767876/59932c5a-ee4c-11e6-817d-1b4c2f6dd82b.png)

[2017-02-09 03:19] #128 closed

[2017-02-09 09:29] georgia1987 opened #138 "Romove id in bold letters from select control"
Hi, is it possible to remove the id in bolde letters when user is about to select a value? I think this information is not useful for the user.

Thanks,
Georgia
![untitled](https://cloud.githubusercontent.com/assets/5319239/22777180/0ff920ee-eebb-11e6-8c74-b67081c7af99.png)

[2017-02-09 13:21] ryan-c00 opened #139 "If initial focus is on this input field then list is not displayed"
If initial focus is on this input field, then list is not displayed. To display the list, one need to click elsewhere and then again click on this input field.

[2017-02-09 14:03] youneschaoui commented on #137
it's not secure to switch value without notifying the user, a better way to handle this is to validate input and show error message

[2017-02-09 15:51] allenhwkim commented on #137
@youneschaoui please guide me. I do not have a plan to show a popup message showing an error.

[2017-02-09 17:32] allenhwkim commented on #139
It works for me
http://plnkr.co/edit/DsjPAJ?p=preview

FYI, it will be automatically closed if you do not follow issue template.

[2017-02-09 17:32] #139 closed

[2017-02-09 19:19] Jonatthu opened #140 "Feature Request: display-property-name"
I want to display after selected the full name of a client, but it has different properties like this

`display-property-name="firstName + '' + middleName + 'lastName'"`

This is not working of course but Can I do something like this?
This can be useful for other situations with other objects

[2017-02-09 20:22] allenhwkim commented on #140
Please use `list-formatter` for custom formatting.
Closing because of not following issue template.

[2017-02-09 20:22] #140 closed

[2017-02-09 20:25] Jonatthu commented on #140
@allenhwkim this is for the list, what I want is for the input value for display the value selected

[2017-02-10 08:37] georgia1987 commented on #138
I Found it! ou can comment this line

`html += data[this.valuePropertyName] ? `<b>(${data[this.valuePropertyName]})</b>` : "";`

from ng2-auto-complete/src/ng2-auto-complete.component.ts file!

[2017-02-11 00:51] benwu9999 opened #141 "drop down shows "undefined" in example three of sample plunker"
example three "With Array of Key/Name" in the sample plunker: http://plnkr.co/edit/3pB1Gx?p=preview

when one click on the text box or start typing, the matched result shows "(undefined) undefined".  I have seen the same when the "display-property-name" and/or "value-property-name" are set to non-default value, i.e "display-property-name" set to string other than "value" and "value-property-name"

[2017-02-11 01:39] allenhwkim commented on #141
It's fixed with new `list-formatter`

[2017-02-11 01:39] #141 closed

[2017-02-13 04:38] allenhwkim opened #142 "Upgrade webpack version from 1.* to 2.*"
Webpack version 2 has very significant changes, and configuration is not backward compatible
https://blog.madewithenvy.com/getting-started-with-webpack-2-ed2b86c68783#.3tv0tylgk

We need to upgrade to webpack 2.* and rebuild our webpack.config.js

[2017-02-13 04:38] allenhwkim commented on #142
@ndcunningham Can you take care of this?

[2017-02-13 10:32] pegaltier opened #143 "Add header to source (http request)"
**IMPORTANT**
Please can you help me to add header to source (http request), it can be usefull for most webservices.

Thanks

[2017-02-13 15:04] allenhwkim commented on #137
How about setting `readonly="true"`, so that user cannot modify its value?

[2017-02-13 20:03] joshterrill opened #144 "Easy way to style autocomplete"
I'm using this in a project that requires the input to be styled a little bit. I've tried adding styles to the classes that get put on the elements, but it looks like the classes get put on the elements after a render because none of the styles are showing up. On my local copy, I've been working on figuring out a way to modify the code so that it can take some styes as an attribute on like `<input

[2017-02-13 20:07] allenhwkim commented on #143
You should use Observable example for your source. You can change header before you make a request.

[2017-02-13 20:07] #143 closed

[2017-02-13 20:31] allenhwkim commented on #144
@ndcunningham Could you create a custom css example?

[2017-02-14 13:17] youneschaoui opened #145 "built-in browser autocomplete hides ng2-auto-complete"
How to hide built-in browser autocomplete. It hides ng2-auto-complete suggestions in a second layer

[2017-02-14 15:34] allenhwkim commented on #145
I think you should not use built-in browser autocomplete for the input filed.

http://stackoverflow.com/questions/2530/how-do-you-disable-browser-autocomplete-on-web-form-field-input-tag

[2017-02-14 15:34] #145 closed

[2017-02-14 15:46] allenhwkim commented on #137
I have tested with `readonly="true"`, and it works fine. closing.

[2017-02-14 15:46] #137 closed

[2017-02-14 16:05] allenhwkim commented on #144
Please follow this plunker for custom css. It's also have been added to README.md

 http://plnkr.co/edit/0QFYFHMmCAFmhbYAGQl7?p=preview (With custom css)

[2017-02-14 16:05] #144 closed

[2017-02-14 16:06] #125 closed

[2017-02-14 16:06] #136 closed

[2017-02-14 16:06] #138 closed

[2017-02-15 10:58] youneschaoui commented on #145
there is no cross-browser way to hide turn off build-in browser autocomplete. my question is : how does ng2-auto-complete way to adapt to this reality ?

[2017-02-15 12:26] allenhwkim commented on #145
@youneschaoui I am afraid ng2-auto-complete cannot to anything related to built-in browser feature unless there is a work-around provided.

[2017-02-16 23:29] pdela opened #146 "AutoComplete with Observable not working"
With observables, list doesn't get filtered.
Look directly at your example of use with Observable. Autocomplete doesn't fire and the list doesn't get filtered.
http://plnkr.co/edit/uY3rsBg9F8aaoemP4Mjp?p=preview&open=app%2Fapp.component.ts

[2017-02-16 23:45] pdela opened #147 "Feature Request: option to allow Case Sensitive filtering"
Currently only case in-sensitive is supported

[2017-02-17 02:14] allenhwkim commented on #146
Please be more specific. I do not understand what you mean.

[2017-02-17 02:16] allenhwkim commented on #147
I thought all auto complete is case insensitive.
Please provide a use case that requires case-sensitive search.

[2017-02-17 02:18] allenhwkim commented on #142
Please take a look at ng2-map, which has already upgrade to webpack 2

[2017-02-17 09:44] pdela commented on #147
Hi Kim,

in my project I'm storing references to Firebase keys, which of course are
case sensitive.
I'm using autocomplete to search quickly among the available keys, but I
need it to be case sensitive.
I'm suggesting to add it just as an option to activate.

Thanks
Paolo

Il giorno ven 17 feb 2017 alle ore 02:16 Allen Kim <notifications@github.com>
ha scritto:

[2017-02-17 09:54] pdela commented on #146
Have a look at your example at plunker:

http://plnkr.co/edit/uY3rsBg9F8aaoemP4Mjp?p=preview&open=app%2Fapp.component.ts

Type in any number in the input box, the suggestion list doesn't get
filtered. All items are always visible, unlike all other examples you have
made.
See the screenshot.
Same behaviour replicated in my app when using Observables. All fine when
using arrays.

Regards,
Paolo

[im

[2017-02-17 17:43] allenhwkim commented on #147
Please use Observable as a source wisely to achieve case-sensitive filtering.

  http://plnkr.co/edit/0C7vGDnhCKuMC5k2m2lR?p=preview&open=app%2Fapp.component.ts

[2017-02-17 17:43] #147 closed

[2017-02-17 17:45] allenhwkim commented on #146
It's just matter of filtering with Observable. The previous example just shows all without filtering.
README.md is updated with plunker,   http://plnkr.co/edit/0C7vGDnhCKuMC5k2m2lR?p=preview&open=app%2Fapp.component.ts

[2017-02-17 17:45] #146 closed

[2017-02-18 01:29] ndcunningham commented on #142
was busy this week, pr is coming

[2017-02-20 11:42] youneschaoui opened #149 "improve documentation (indicate when to use brackets)"
home documentation page list all attributes without indication when to use brackets (differentiating directives and inputs)

[2017-02-20 11:58] youneschaoui commented on #140
Same probleme here

[2017-02-20 12:10] youneschaoui opened #150 "display-property-name is ignored if select-value-for is specified"
display-property-name can't be changed if we specify a value of select-value-for

[2017-02-20 12:21] Keki91 opened #151 "Selecting an object from an array has a console.log when selecting."
**Current behavior**

  - When selecting an object from an array - there is a default callback with a console.log. Needs removing.

**Expected/desired behavior**

  - Remove the console.log when selecting an object.

**Other information**

  - I'll submit a pull request for this.

[2017-02-20 12:51] youneschaoui opened #153 "very confusing properties select-value-of value-property-name display-property-name list-formatter"
Consider the object :
`{'id':1, 'name':'easy'}`
how to configure ng2-auto-complete so that It shows name after selection and in suggestions. it binds to id value (not the hole object).

[2017-02-20 15:09] allenhwkim commented on #153
select-value-of : the key name of object when selected
value-property-name: NOT in use
display-property-name: what to show in your dropdown list as well as `list-formatter`.

Please provide a plunker example with your expectation.

[2017-02-20 15:17] allenhwkim commented on #151
merged, and it will be released soonl

[2017-02-20 15:17] #151 closed

[2017-02-20 15:31] allenhwkim commented on #150
Please provide a plunker example to reproduce your issue. It seems an obvious bug to you, but not to me and others.

FYI,
`display-property-name` is not related to `select-value-of`.
https://github.com/ng2-ui/ng2-auto-complete/blob/2c9524fd16d85724d8663df0c62bcbff7d5ed4d8/src/ng2-auto-complete.directive.ts#L194

It is more related to `list-formatter` for dropdown list. It's to show dropdown list.

[2017-02-20 15:38] allenhwkim commented on #149
Please use bracket everywhere if you are confused.

Not using bracket is just for your convenience.
If you don't use bracket, the value is string. I thought everyone knows about this.

[2017-02-20 15:41] #149 closed

[2017-02-20 15:43] youneschaoui commented on #153
the issue I facing is that select-value-of is the same value used to display selected object is it possible for example  to bind ngmodel to id and display selected object as username  ?

[2017-02-20 15:43] allenhwkim commented on #150
Duplicate to #153

[2017-02-20 15:43] #150 closed

[2017-02-20 15:45] allenhwkim commented on #153
Yes possible. Please provide a plunker example with your expectation as it says at the issue template.

[2017-02-20 15:45] youneschaoui commented on #150
the issue I am facing is that select-value-of is the same value used to display selected object is it possible for example to bind ngmodel to id and display selected object as username ?

[2017-02-20 15:48] youneschaoui commented on #153
**configuration**
` <input auto-complete
               no-match-found-text="nothing !"
               class="form-control"
               name="approver"
               list-formatter="username"
               select-value-of="id"
               [(ngModel)]="proposition.approver"
               [source]="approvers" />`

**approvers**
`[{ "id": 1, "username":"younes"}]`

[2017-02-20 15:49] allenhwkim commented on #153
Please provide a plunker example with your expectation as it says at the issue template.

[2017-02-20 15:49] #153 closed

[2017-02-21 13:29] youneschaoui opened #154 "remote data source cache auto complete suggestion list"
I use an API as data-source that requests thousands of objects to choose from. It would give better performance if I could cache list after first request. is this possible ?

[2017-02-21 14:51] allenhwkim commented on #154
Yes possible and there is Observable source and there are various technique.
The discussion about how to cache http response is out of scope.

[2017-02-21 14:51] #154 closed

[2017-02-21 17:14] johnrayner opened #155 "Accept-user-input = false is not working with v 0.10.9"
Using ver 0.10.9 of ng2-auto-complete, all user input is accepted by the input control regardless of the value set on "accept-user-input".  Here is my plunk: http://plnkr.co/edit/UbGH3h.  Previous versions reverted invalid input when the field lost focus.

This is probably the same issue as https://github.com/ng2-ui/ng2-auto-complete/issues/122

[2017-02-21 18:01] allenhwkim commented on #122
`accept-user-input` is deprecated for simplicity

As in README.md

<strike>**accept-user-input** boolean, if false and does not match to source given, it goes back to the original value selected.,</strike>

please use readonly="readonly" to force user to select only from list.

[2017-02-22 13:53] johnrayner commented on #155
Sorry, but that doesn't do what I need it to.  My application makes a XHR call to resolve the values that the user can pick.  So I need the user to be able to type into the control (the readonly setting stops this completely).  But if they tab out without picking a value, then whatever they've done with the control should be reverted.  This was the behavior of v0.8.2 and it rocked.  I'll see if I

[2017-02-22 18:43] allenhwkim commented on #155
@johnrayner thanks for the explaining the use case for me.
I think you have a valid point.
Prior to v0.8.2, we have two input tags, then it changed to have only one input for simplicity.

Let me take a look into it later. Meanwhile a PR would be highly appreciated.

[2017-02-24 11:00] nazrulcse opened #157 "Test code coverage"
Hi,

Test(Jasmine) code available for this. I am gating error in test code "Can't bind to 'source' since it isn't a known property of 'input'". Here is auto-complete code

<input type='text' ng2-auto-complete [(ngModel)]="geoAddress" placeholder="Address"
                       [source]="googleGeoCode" no-match-found-text="Address Not Found"
                       list-formatter="formatted_address

[2017-02-24 16:08] allenhwkim commented on #157
Please be more specific. Please be  specific about what your environment is, what you did, and what you expected.

[2017-02-24 21:04] rayzru opened #158 "Can't clear displayed value"
So, i have created reset button which one resetting value on ngModel (value = null)
Actual model accepts new value and becomes NULL. But displayed value not changed.

[2017-02-25 01:37] #142 closed

[2017-02-25 02:08] allenhwkim commented on #157
Closing until the details are provided

[2017-02-25 02:08] #157 closed

[2017-02-25 02:19] allenhwkim commented on #158
I tried and tested and it worked for me.
This will be closed until the detailed example is provided.

[2017-02-25 02:19] #158 closed

[2017-02-25 04:50] allenhwkim commented on #155
This has been merged and deployed

[2017-02-25 04:50] #155 closed

[2017-02-28 09:33] ohgasauraus opened #159 "Target specific field from Source to search"
**Current behavior**
If i have a complex source (USER: {USERID, USERNAME, DISPLAYNAME, EMAIL}) with multiple fields, auto complete will search thru every field including the field itself.

**Expected/desired behavior**
Is it possible to only set the fields to search? Only search within DISPLAYNAME or EMAIL field

[2017-02-28 16:38] allenhwkim commented on #159
Yes, you can use an Observable source to customize the search.

[2017-02-28 17:31] johnrayner commented on #155
Thank you!  When do you plan to push 0.10.10 to npm?

[2017-02-28 17:43] allenhwkim commented on #155
@johnrayner didn't I?

[2017-02-28 17:44] johnrayner commented on #155
@allenhwkim no ... https://www.npmjs.com/package/ng2-auto-complete says "0.10.9 is the latest of 50 releases"

[2017-02-28 17:45] allenhwkim commented on #155
K, published now. Sorry about that

[2017-02-28 20:10] jasonburrows opened #160 "Option to not draw list at all if there are no matches found."
When there are no matches there is an option to provide custom text ('no-match-found-text').

I'd prefer to simply not draw the list at all, but I can't find a way to configure for that.  If I provide nothing for 'no-match-found-text' it will still show the default text, and if I provide a space character (to ensure there is a valid string), it still draws the list - minimally, but it is still dis

[2017-02-28 21:36] eastjie opened #161 "Chinese characters can not be inputted in Chrome by Keyboard."
Hallo,

In this demo, I have tried to input with Chinese characters using keyboard.
https://ng2-ui.github.io/dist/#/auto-complete

It doesn't work in Chrome (My version is 56.0.2924.87). There is no problem in Firefox and Edge.

Thanks.

[2017-03-01 02:13] allenhwkim commented on #161
@eastjie thanks for reporting this.
I made some fix for this. please test it with 0.10.11, but not merged to ng2-ui.github.io yet.

[2017-03-01 02:20] allenhwkim commented on #160
Hmm, I am not sure this is very intuitive not to show any, but
you are still able to show nothing when no match found by overriding css.
I have added `no-match-found` class for that item.

.ng2-auto-complete ul li.no-match-found {display: none}

[2017-03-01 17:36] allenhwkim commented on #160
@jasonburrows You can achieve this by adding css at this moment
[code]

[2017-03-01 22:30] eastjie commented on #161
Thanks very much. I have tried the actual version and the problem is solved.

[2017-03-01 22:30] #161 closed

[2017-03-03 00:44] jasonburrows commented on #160
I have tried this solution and it doesn't seem to have any effect.  It seems like `'display: inline-block'` is an inline style on `ng2-auto-complete` so adding the css you've provided doesn't take precedence over this.

...that being said even this has no effect: `.ng2-auto-complete ul li.no-match-found {display: none !important;}`

I must admit that I'm having trouble debugging it as when I use t

[2017-03-03 00:58] jasonburrows commented on #160
Well, here's how to select that item - enter this into the debugger:
[code]
Then select the element using chrome's dev tools, and hit F-12.  This will cause javascript to stop while the debugger runs.  Then you can inspect the item.

There's no `no-match-found` class being applied to that list item.  `blank-item` seems to be the class that is applied.

So I've added the css `.ng2-auto-complete ul

[2017-03-03 03:53] allenhwkim commented on #160
@jasonburrows please use the recent release which has `no-match-found` class.

[2017-03-03 06:28] hemant-chaudhary opened #162 "how can i update regex"
current regex used is (/:[a-zA-Z_]+/) i want to update in to (/\b[a-zA-Z_]+/) so that it only search from the beginning of the each word in string.

Example:-
India - In
Australia - AU
America - US

so when i type I in input result should be only "India - In" not Australia or America
or
if i type us it should only return America - US not A'us'tralia- AU even though Australia has us in it

Can you

[2017-03-04 16:56] #159 closed

[2017-03-04 17:45] allenhwkim commented on #162
Please use Observable source for customized search.

[2017-03-06 15:54] riaadh commented on #155
Hi there,
I also used accept-user-input = "false" and it's not working.  Like johnrayner  i need this

Thank you for your help

[2017-03-06 21:36] Gahen commented on #106
for future reference: removing the `form-control` class fixes

[2017-03-06 21:47] allenhwkim commented on #155
Try this please. `[accept-user-input]="false"`

[2017-03-07 09:06] riaadh commented on #155
@allenhwkim  thank you it works

[2017-03-07 19:38] kevinhoelscher commented on #90
I'd like to point out that I tested the behavior of pressing [Tab] on the select control in the Examples section of the Mozilla page you linked, and it actually *does* update the selection to the highlighted item.  I verified this in all four browsers to which I have easy access (Chrome, Firefox, IE, Edge).  The only difference is in whether the focus remains in the select, or passes out to the ne

[2017-03-07 19:41] allenhwkim commented on #90
@kevinhoelscher Thanks for intensive test for all browsers.
`[tab-to-select]="true"` would be my suggestion for this case if you intend to make a PR; Pull Request.

[2017-03-07 20:20] #162 closed

[2017-03-08 11:50] riaadh opened #163 "Get the value of the selected item"
Hi there,
I am using the autocomplete with bing api and i want to update a bing map when the user select a value.

Is there a callback function when the user select something in the autocomplete,  i tried ngModelChange but it fires when the user is typing, i need the callback when he select something.

Thank you very much for your help

[2017-03-08 14:34] allenhwkim commented on #163
`valueChanged` is the one. You can find it at README.md

[2017-03-08 14:34] #163 closed

[2017-03-08 15:44] dmostert opened #164 "Feature Request: selected-value-formatter similar to list-formatter"
**Current behavior**
It seems you can on bind to a simple property for `select-value-of`.

**Expected/desired behavior**
It would be great if the selected value can be formattet similar to the result from `list-formatter`.

**Usecase**
I can then store the selected object in code and have a friendly display string.

[2017-03-08 15:58] allenhwkim commented on #164
@dmostert thanks for reporting this
Can you be more specific on this? I have a guess, but it would be better with an example.

[2017-03-08 16:08] dmostert commented on #164
We have a number of lookup classes (`code`, `description`, ...) in our current system. I want to create Auto complete inputs for them.

Per convention we always show the lookup as `code ~ description`. - With the current `list-formatter`, this is trivial and is currently working.

After an item is selected, I would like to see `code ~ description` as the selected value.

I will store the selected

[2017-03-09 01:39] allenhwkim commented on #164
0.11.0 released with this feature. please use `value-formatter`

[2017-03-09 10:07] dmostert commented on #164
Thanks - it works

[2017-03-09 10:07] #164 closed

[2017-03-09 11:36] aminsmartsense opened #165 "Maximum limit set 15"
Hello,

I want to set limit of search result minimum 1 and maximum 15 but can't set maximum value more than 10.

Please help me @allenhwkim .

Thank you.

[2017-03-09 14:40] allenhwkim commented on #165
Have you tried `max-num-list` ?

![image](https://cloud.githubusercontent.com/assets/1437734/23754829/685e8790-04ac-11e7-8b54-7a3ad8896518.png)

[2017-03-09 15:02] vadimaus opened #166 "Autocomplete selected item"
Hello
Is there a function to return the currently selected item from the dropdown?
Following the documentation, I use (valueChanged)="this.onValueChanged($event), but the '$event' would return the value as I type, then I won't know which item user had selected.
Am I doing something wrong there?

Thanks in advance
Vadim

[2017-03-09 16:05] allenhwkim commented on #166
@vadimaus Thanks for the feedback, I will look into it.

[2017-03-09 19:28] allenhwkim commented on #166
Are you using the most recent version, It did not happen to me.
http://plnkr.co/edit/MDvZUj?p=preview

[2017-03-10 04:53] danny90 commented on #165
Hi,

I noticed that if I set **_max-num-list_** to 3, it shows only 3 items and others cannot be seen. For me it would be preferable to show all but restrict the size of dropdown, so that, if all items cannot fit the dropdown screen, scrollbar appears.

[2017-03-10 07:04] aminsmartsense commented on #165
@allenhwkim Yes. I have try. max-num-list="25" but doesn't working.

[2017-03-14 14:37] QXD-me opened #168 "this.listFormatter.match is not a function"
I have been getting the error "this.listFormatter.match is not a function" in version 0.11.0, but didn't get it in version 0.10.12. The list-formatter I'm referring to is a function.
e.g.

[code]

[code]

[2017-03-14 16:15] allenhwkim commented on #165
@aminsmartsense
I could not reproduce your issue for both local source and remote source.
There is no limit set to display number of items to `10`

http://plnkr.co/edit/eDPHjI?p=preview

My guess is your server-side API call is limiting the number of items to 10.

Closing until you provide your a plunker example.

[2017-03-14 16:15] #165 closed

[2017-03-14 16:17] allenhwkim commented on #166
Closing this. Please reopen this problem still continues

[2017-03-14 16:17] #166 closed

[2017-03-14 16:25] allenhwkim commented on #168
@QXD-me thanks for reporting this. Fixed and released as 0.11.1

[2017-03-14 18:16] vadimaus commented on #166
@allenhwkim Looks like we have different versions of ng2-ui. The same code works fine in plunker but not on my local env.  However, when I run "npm outdated" it doesn't list it in the outdated packages, which means I have the latest one.
Could you tell me which version did you use in the above example?
Thanks

[2017-03-14 18:19] allenhwkim commented on #166
@vadimaus Are you using `ng2-ui` module or `ng2-auto-complete`? `ng2-ui` is not always up-to-date with dependency modules, but `ng2-auto-complete` is.

[2017-03-14 18:27] vadimaus commented on #166
@allenhwkim I referenced  ng2-ui  because I use the popup from there as well. Would it be possible to update it, at least for now?
Thank you

[2017-03-14 18:43] allenhwkim commented on #166
Yes, I will do soon. Thanks for your patiencte

On Tue, Mar 14, 2017 at 2:27 PM, Vadim Visnevschi <notifications@github.com>
wrote:

[2017-03-14 18:48] allenhwkim commented on #166
`ng2-ui` has been upgraded.

 ng2-auto-complete    0.11.0  →  0.11.1
 ng2-datetime-picker  0.14.6  →  0.14.7
 ng2-map              0.16.2  →  0.16.3

On Tue, Mar 14, 2017 at 2:42 PM, Allen Kim <allenhwkim@gmail.com> wrote:

[2017-03-15 09:40] QXD-me commented on #168
Thanks @allenhwkim . I just updated and it seems to work fine.

[2017-03-15 09:40] #168 closed

[2017-03-17 09:41] BaamAadmi commented on #83
Hi,
Can anyone explain me how to use an id as ngModel value and text in the dropdown, just like how we do in any html select.
Thanks in advance.
Sudeep

[2017-03-19 14:27] teleuko commented on #35
In my case I forgot to add "ng2-auto-complete" to the input tag

[2017-03-21 18:48] erictraub opened #169 "Dynamic source list does not updated when input in focus"
I am trying to dynamically update the source list on every `keyup` but it does not work.  I must un-focus from the input then re-focus on it for the list to update.  The example below uses a setTimeout which functions in the same way as updating the source list on a `keyup`.

HTML:
[code]

In component:

[code]

If you put these in [this plunker](http://plnkr.co/edit/3pB1Gx?p=preview) and focus on

[2017-03-21 19:49] allenhwkim commented on #169
Please use Observable source list for this case.

[2017-03-22 13:28] mihilion opened #170 "Feature request: include/exclude fields of object from matching"
Currently when matching is done, JSON.Stringify is run on entire object. This is causing problems, when objects have technical data (like IDs from database, which I do not want to clear, but I also do not want the autocomplete to compare them with the input).

Example:
var source = [{"id": 10001, "code": 100, "name": "First item"},
{"id": 10002, "code": 200, "name": "Second item"}];

When I write

[2017-03-22 14:56] allenhwkim commented on #170
@mihilion Please use Observable source for custom listing.

[2017-03-22 17:19] #160 closed

[2017-03-22 17:39] mihilion commented on #170
@allenhwkim Ok, thanks, I will check this approach. However, after thinking about it for a while, I have realized, that I simply want the keyword to be matched against the values which I really see on the list, and not against some hidden parts of the object. Since you already have a list-formatter, I have used it to implement my desired behavior by adding one simple boolean attribute. Feel free t

[2017-03-22 17:41] allenhwkim commented on #170
@mihilion so, you only want to select what you can see, right?
Does your PR also covers `list-formatter` not only as a string but also as a function?

[2017-03-22 17:53] mihilion commented on #170
@allenhwkim sure, I am using your function getFormattedList (which I have moved to Ng2AutoComplete so it could be used by the filter function, and renamed to getFormattedList**Item**, as it really returns one formatted item, not the whole list), so my PR preserves all the current and future logic for handling `list-formatter`.

[2017-03-22 19:27] allenhwkim commented on #170
@mihilion thanks. I will test and publish when all are good.

[2017-03-23 18:54] crh225 opened #172 "Feature Request"
Is it possible to show all items, but have a fixed height list of items with a scrollbar?

[2017-03-23 19:11] allenhwkim commented on #172
Yes, just manipulate your css.

[2017-03-23 19:28] crh225 commented on #172
I have added
[code]
to my scss file that uses the autocomplete. I am not able to see the scrollbar

[2017-03-23 19:57] crh225 commented on #172
Do you have any tricks to leaving the dropdown list always open for dubugging? if I try to inspect element of the autocomplete dropdown, it registers as a click in chrome, and keeps hiding the dropdown.

[2017-03-23 20:05] allenhwkim commented on #172
plz try like the following,
[code]
About, forcing it to open, you can set a break point on this line,
https://github.com/ng2-ui/ng2-auto-complete/blob/master/src/ng2-auto-complete.directive.ts#L106

[2017-03-27 12:36] saurabhkumar11 commented on #172
When Start typing, first in the list is auto selected and hit the enter, text box is filled with first item. i did not want it to fill textbox on enter like Jquery Autocomplete.

[2017-03-27 13:36] allenhwkim commented on #172
@saurabhkumar11 thanks for the feedback. Could you please create a separate issue for that.

[2017-03-27 13:44] crh225 commented on #172
@allenhwkim it is not working for me. Here is my html and css
[code]
[code]

[2017-03-27 13:48] crh225 commented on #172
here is a screenshot of the rendered html
![image](https://cloud.githubusercontent.com/assets/19475195/24359473/159a0d6e-12ca-11e7-821a-1200fe880bac.png)

[2017-03-27 14:11] allenhwkim commented on #172
@crh225 please crate a minimal plunker example for this, which is not working.

[2017-03-27 14:18] crh225 commented on #172
http://plnkr.co/edit/4zSFNaSNavA2NA5SHx0I?p=preview

[2017-03-27 14:55] allenhwkim commented on #172
http://plnkr.co/edit/ye2WV6?p=preview. When override css, it's better to do it in index.html

[2017-03-27 15:23] crh225 commented on #172
I understand that is one way to do it, but it should work the angular way with the inline styles. I have not had to do this with other modules.

[2017-03-27 15:41] allenhwkim commented on #172
@crh225 for that case, you have to add `ViewEncapsulation: None` for your component.

http://plnkr.co/edit/6axhO7?p=preview

[2017-03-27 15:42] #172 closed

[2017-03-27 15:42] crh225 commented on #172
thanks

[2017-03-27 15:43] crh225 commented on #76
@allenhwkim did you make a plunkr of why scrollIntoView didnt work? Im just curious

[2017-03-27 15:44] crh225 opened #173 "Update to Angular 4.0.0"
Since Angular 4.0.0 was released last week, I was wondering if you planned on updating? Also, Do you plan on renaming the app from ng2-auto-complete?

[2017-03-28 04:36] saurabhkumar11 opened #174 "first in the list is auto selected"
When Start typing, first in the list is auto selected and hit the enter, text box is filled with first item. i did not want it to fill textbox on enter like Jquery Autocomplete.

go to : https://rawgit.com/ng2-ui/ng2-auto-complete/master/app/index.html
type 1-2 letters in textbox and see the list.
first item in the list is selected. now if i hit the enter, first item will be populated in textbox.

[2017-03-30 15:22] amineparis commented on #48
@allenhwkim  `max-height ` insead this way not found text doesn't contain a lot of whitespace whatever the value we put

[2017-03-30 16:55] jtandrew opened #176 "Reactive Form and Observable Source"
Is it possible to use a Reactive Form solution and also connect to an Observable Source as well?

Here is my use case.
- Connect to a web service to get a list of 20000+ items
- User starts typing in the values and it narrows to the item they want
- Upon choosing from the first list they will get a second box to input a value that matches with the first item.  The second list of options ranges fro

[2017-03-30 17:05] allenhwkim commented on #176
You can use Observable  source for that case. Please create a plunker example to explain your issue.

[2017-03-30 18:06] jtandrew commented on #176
@allenhwkim Thanks for the reply.  I will see if I can get the use case together in a plunker.  I have it working partially.  I am going to try and get it working properly with a long string first and will go from there.

[2017-03-30 18:48] jtandrew commented on #176
@allenhwkim I used the source from model4 on https://rawgit.com/ng2-ui/auto-complete/master/app/index.html#/directive-test

Here is my code on my side:

`<input  ngui-auto-complete
        id="model4"
        [source]="siteSearch"
        no-match-found-text="No Match Found"
        list-formatter="formatted_address"
        path-to-data="results"
        loading-text="Getting Site List..."

[2017-03-30 18:51] allenhwkim commented on #176
As I said, please use Observable source instead of url.

[2017-03-30 21:39] jtandrew commented on #176
This is my getSiteList subscription. It calls my service and gets my list.

`this.sitesService.getSiteList()
          .subscribe(
            data => {const sites = [];
            for (let key in data) {
              sites.push(data[key]);
            }
            console.log(sites);
          }
        );
`
How would I get this into the source?  Sorry for the questions

[2017-03-31 14:52] azeinda commented on #176
Got the same problem. It's damn hard to get it working.
I've got an autocomplete that should display streets and narrow the results as the user starts typing.
The address service returns Address objects that contains the street name and geograph. coordinates.
When a street is selected in the autocomplete, i've got to set the coordinates input fields.

in template.html :
<td>Rue : <input auto-compl

[2017-03-31 19:51] allenhwkim commented on #176
Observable looks  not easy, but it's worth to master it.

Please take a look at this example to follow.
http://plnkr.co/edit/ExzNSh?p=preview

[2017-03-31 19:51] #176 closed

[2017-04-01 13:02] #170 closed

[2017-04-01 13:04] allenhwkim commented on #169
Example
http://plnkr.co/edit/ExzNSh?p=preview

[2017-04-01 13:05] #169 closed

[2017-04-01 13:06] allenhwkim commented on #174
I am not sure about this. Many people just want to ENTER to select the first item. I need feedbacks.

[2017-04-02 14:37] lnrdnl opened #177 "No result found does not inherit the custom style specified"
**Reproduce:**
 - In the plunker example: http://plnkr.co/edit/0QFYFHMmCAFmhbYAGQl7?p=preview
 - Type 'aa'
 - The list displays only: 'No result found', but this is not readable.

**Current behavior:**

  - The 'No result found' list item does not inherit any custom styles given in ListFormatter

**Expected/desired behavior:**

  - The 'No result found' list item should be able to have any custom

[2017-04-03 05:23] saurabhkumar11 commented on #174
Actually, this is the feature in our old application. Like, if i enter james in text box and got 3-4 suggestions in auto complete. Now we may need extra information, like Department, Region etc to find. So, we give them enter to search and card listing will open with other information. This is the additional feature we provide.

[2017-04-03 13:50] javimudi opened #178 "Applying custom format to ngui-auto-complete-wrapper not applied"
Hi,

I'm adding some selectors to a bootstrapped design. And I'm applying a custom CSS for ngui-auto-complete-wrapper, specifically a value of 100% for width, since the selector is not fully expanded to the container.

[code]
The style is not really working.

Thanks

[2017-04-03 14:12] allenhwkim commented on #178
To override css, you need to use `ViewEncapsulation.None`
[code]

[2017-04-03 14:19] javimudi commented on #178
Thanks, @allenhwkim !

I'll take a look and figure out how to change the behavior.

Regards

[2017-04-05 16:09] polaris327 opened #179 "Auto complete with Object.Object.Object...."
I tried to use this component to autocomplete with sub properties. Like - `object.property1.property2`.
Auto complete feature with `Object.PropertyA` is working correctly but 2nd Array of object is not working.

I attached *Plunker Example* . Actually it is same with demo but only `list-formatter` input value is different.

How can I deal with in this case?

**Steps to reproduce and a minimal demo

[2017-04-05 17:12] allenhwkim commented on #179
`pathToData` does not work?
https://github.com/ng2-ui/auto-complete/blob/master/src/auto-complete.component.ts#L219

[2017-04-06 00:52] allenhwkim commented on #177
There is class `no-match-found`. Please make use of it.
![image](https://cloud.githubusercontent.com/assets/1437734/24732853/bd2191a0-1a41-11e7-91a2-4517586d9ee4.png)

[2017-04-06 00:53] #178 closed

[2017-04-06 01:00] allenhwkim commented on #179
For your case, please use `[list-formatter]` as a function. Example http://plnkr.co/edit/r1ybFl?p=preview.

[2017-04-06 01:00] #179 closed

[2017-04-06 02:38] luckyboy07 opened #180 "Feature Request : Mobile"
this component doesn't support mobile. i'd tried to used this but can't select selected item in dropdown.

[2017-04-06 02:45] polaris327 commented on #179
Hi @allenhwkim

Thanks for your comment. I can see correct dropdown list now.
But there is another problem. When I select an item from the list, it says just "undefined".  So autocomplete feature seems to not working correctly.
Any idea about this issue?

Thanks.

[2017-04-06 02:53] allenhwkim commented on #179
@polaris327 please make use of `value-formatter`, `display-property-name` as you can see in README.md

https://github.com/ng2-ui/auto-complete/blob/b49fee9fc0e2e7c08a14dfe146ef93cf7b0efc52/src/auto-complete.directive.ts#L213

[2017-04-06 02:55] allenhwkim commented on #180
@luckyboy07 what's happening on mobile? can you take some screenshots?

[2017-04-06 14:37] polaris327 commented on #179
Thank you for your suggestion @allenhwkim
Tbh, I am quite new to Angular 2 so it's a bit challenge for me. I have tried to figure it out as your guide but still no luck.
Can you please update Plunker example so that I can understand exactly?
Sorry for bothering and thank you again.

Regards.

[2017-04-06 15:02] allenhwkim commented on #179
Here we go, http://plnkr.co/edit/uIvi2s?p=preview

[2017-04-06 15:16] polaris327 commented on #179
@allenhwkim Thanks for your quick reply.
But it doesn't still seem to work properly. :(
For example, if you type a word(let's say "New York") in the search box, it lists "New York" correctly.
But if you select it, it's changed to "undefined"(It should be "New York")
This is the exact problem that I have been trying to solve so far.
Can you still help me with this?

Many thanks!

[2017-04-06 15:21] allenhwkim commented on #179
sorry my mistake. Updated with value-formatter.
http://plnkr.co/edit/uIvi2s?p=preview

[2017-04-06 15:24] polaris327 commented on #179
WOW! It works! I really appreciate you! @allenhwkim
Great job!

[2017-04-07 03:03] luckyboy07 commented on #180
i used ionic 2 for this component.. there's no error  but the only problem was, it didn't support tap event, every time i scroll down the list the dropdown will closed and also cannot select i can only select by clicking enter or return in keypad. i can't provide you a screenshot coz there's no error on this component. thanks.. best regards..

[2017-04-07 04:15] ndcunningham commented on #174
This seems very specific. Hitting enter is a _natural_ way of selection unless stated otherwise and i think this was achieved.

[2017-04-07 11:34] allenhwkim commented on #180
@ndcunningham can you take this by copying the technique used by` @ngui/datetime-picker `?

[2017-04-07 18:32] allenhwkim commented on #174
@ndcunningham Nico, @saurabhkumar11 is suggesting not to use ENTER key, but I agree to use ENTER key.

[2017-04-07 23:59] ndcunningham commented on #174
i agree @allenhwkim

[2017-04-09 00:47] #174 closed

[2017-04-11 07:02] NagaSathya opened #183 "Error: (SystemJS) Unexpected value 'undefined' declared by the module 'AppModule'"
I ma getting below error when i use ng2-typeahead.
Error: (SystemJS) Unexpected value 'undefined' declared by the module 'AppModule'
 In **app.html** I have below code:
[code]

**app.module.ts:**
[code]
**systemjs.config.ts:**
[code]
 In node_modules folder, i have ng2typeahead.
Please help me to resolve this.

[2017-04-11 15:44] allenhwkim commented on #183
Please create a plunker example to reproduce this issue. ng2-typeahead is not a part of this project, so without a reproducable example, it's hard to dig into your issue.

[2017-04-11 21:27] leonardosigrist opened #184 "Not accept user input but not required"
**Steps to reproduce**

- In the plunker example: http://plnkr.co/edit/veDgkX?p=preview
- Click on the input
- Select an existent option from the list
- Now, clear the input content
- Remove the focus from the control

**Current behavior**

  - This control is not required but I can't leave it empty

**Expected behavior**

  - The input should be empty

**Aditional Information**

- The control can

[2017-04-12 02:24] allenhwkim commented on #184
please use ` [accept-user-input]="true"` or  remove that line

[2017-04-12 02:24] #184 closed

[2017-04-12 10:11] hanouard opened #185 "Feature Request : Specify RequestOptions for the http.get"
I need to add some security header options to the get request. The component doesn't offer this possibility.

It would be nice to add a new parameter to the component that will expose an observable.
_just a proposal_ : "observable-source: Observable<any>"

[2017-04-12 10:32] swapsword opened #186 "How to disable "No result Found"?"
Hello Developers,

# How to disable "No result Found" in dropdown?

Problem: I have change the value of "No result found to "empty/space" by setting no-match-found-text to space. However, the dropdown for "No reult Found" is still there if you see closely. How can i disable/hide it completely, when result is not found?

Example:
[http://plnkr.co/edit/2qDToO?p=preview](url)

Regards,
Swapnil

[2017-04-12 13:37] allenhwkim commented on #185
@hanouard there is an observable source. Please follow the example from README.md

[2017-04-12 13:38] allenhwkim commented on #186
@swapsword thanks for reporting this.
You can achieve this by overriding css.

[2017-04-12 13:50] leonardosigrist commented on #184
But, if I use `[accept-user-input]="true"` the user will be able to type anything that not matchs with the content listed and if I use `readonly=readonly` the user loses the possibility to type on the control.
Is there any alternative to meet the scenario that the user can leave the input empty but cannot type something that not exists on the list?

[2017-04-12 13:52] allenhwkim commented on #184
You may make use of this.

blank-option-text, string, guide text to allow empty value to be selected as in empty value of option tag.

[2017-04-12 14:02] #185 closed

[2017-04-12 14:20] leonardosigrist commented on #184
I inserted the `blank-option-text="Select..."` in the followinig example: http://plnkr.co/edit/veDgkX?p=preview
The option "Select..." appears on the list, but after I choose another option, I can't  select the "Select..." option and, if I try to clear the content, it returns to the previous selected value.

[2017-04-12 14:32] allenhwkim commented on #184
Yes, if `blank-option-text` and `[accept-user-input]="false"`, that's expected behaviour because blank option and accept user input contradicts each other. I recommend remove accept-user-input and add readonly=readonly

[2017-04-14 23:15] allenhwkim commented on #186
[code]

[2017-04-14 23:18] allenhwkim commented on #183
This seems nothing related to this module `@ngui/auto-complete` at all. Closing it.

[2017-04-14 23:18] #183 closed

[2017-04-15 20:31] allenhwkim commented on #186
I may use this opportunity not to display any when `no-match-found-text` is false or blank.
* undefined -> 'No Match Found'
* false -> do not display dropdown
* blank -> do not display dropdown
* any text -> do display as given

[2017-04-18 14:37] #173 closed

[2017-04-19 15:08] branislav-kurajda opened #187 "Dragging scrollbar (a result of content overflow) in Internet explorer results in blur event, thus hiding the list of values"
Have a fixed height list of values, as achieved by the following css

.ngui-auto-complete ul {
    max-height: 200px;
    overflow-y: auto;
}

**Current behavior**

When interacting with the scrollbar introduced by this css **in Internet Explorer a blur event is fired**,
which results in the hiding of the list. Dragging a scrollbar in other browsers (Firefox, chrome) does not fire a blur event and

[2017-04-21 12:41] KevinBeckers opened #190 "How to set a default value from a object?"
I have te following input.
I would like to fill the input on init. But when I do the input will display [object Object] instead of `customer.name`.
When autocomplete the customer name is displayed properly. So the problem only occurs with the init method.

[code]
[code]

[2017-04-22 13:18] ldoloscan opened #191 "Reset autocomplete input on select"
Hello,
I'm wondering, is it possible to clear autocomplete input on select/change ?

I have tried to attach to this input `formControl` and then reset it `this.controlForm.reset()`, but this didn't worked.

It would be cool to get this done.

Thanks.

[2017-04-22 17:52] dhanish2k commented on #191
Have you tried this.controlform.textcontrol.setValues('') where textcontrol is the name of your input box..?

[2017-04-22 18:02] ldoloscan commented on #191
Yeah...no chances to get this done, I have even tried to update view with `ChangeDetectorRef.detectChanges()` and guess what...still nothing.

[2017-04-22 19:31] nadircan opened #192 "Template parse errors: Can't bind to 'source' since it isn't a known property of 'input'"
I installed this package via npm. I added to my app.module. But i am getting this error.  I looked plunker example but i didnt solve this issue.
[code]
[code]

[2017-04-23 18:40] AngularTx opened #193 "when min chars is set , even when no text is entered data is not shown in drop down"
Hi,

If we are not using the min chars attribute , and if the user deletes the entered text , we will see the complete data below. This is fine..

But when we add min chars attribute and if everything is deleted , no drop down is shown. Is there a way that we can show the values. Becuase I am looking for a scenario where the initial data will be present and if the user enters something in the text

[2017-04-23 21:55] pholik opened #194 "Is it possible to define searchfields?"
Hi, is there a way how to narrow down what fields of the object should be used for finding matches? It seems to me, that the input is tested against all the fields of the object from the source, which is not always required.

[2017-04-24 10:04] houris commented on #180
Same problem here , Has anybody found a fix yet?

[2017-04-24 10:51] #192 closed

[2017-04-24 15:59] profanis opened #195 "pre-selected object is translated to string"
If an input of a reactive form has a pre-selected object, this object is converted into a string with value the "display-property-name" property.

**example**
[code]
On page load, the property **continent** will have the value "Asia" instead of the object.
if however you select an item from the autocomplete list, the selected item will be an object (which is correct behavior)

An example is depict

[2017-04-25 17:13] allenhwkim commented on #190
`this.customer` is an object which has `[object Object]` as the string representation.
When autocomplete, it sets `toString()` to display properly.
Thus, please set `toString()` to display it properly.

This is an example.
[code]

[2017-04-25 17:16] allenhwkim commented on #191
Have you tried `blank-option-text` from README.md?

![image](https://cloud.githubusercontent.com/assets/1437734/25398260/543f82d2-29b9-11e7-8a2e-a4f6ee9eb899.png)

[2017-04-25 17:18] allenhwkim commented on #193
You can use Observable source to make custom dropdown without using `min-chars`.

[2017-04-25 17:21] allenhwkim commented on #194
Please use Observable source for custom dropdown list.

[2017-04-25 17:40] allenhwkim commented on #195
By some reason, it is to set the initial value as `display-property-name`.
https://github.com/ng2-ui/auto-complete/blob/master/src/auto-complete.directive.ts#L94

@ndcunningham can you take a look at this to verify it is the right behaviour?

[2017-04-26 07:03] Pinank opened #196 "Detect selection of auto-complete item."
I need to perform some navigation action on selection of auto-complete item. Tried with the following code

[code]

it's passing the click method on searching than on click.

Can anybody help me with this.

[2017-04-27 04:12] Atkinson88 commented on #186
Setting the CSS doesn't seem to work

`<div auto-complete
      [source]="arrayOfStrings"
      (valueChanged)="valueChanged($event)"
      placeholder="enter text" >
      <input [ngModel]="model1" />
    </div>

<style>
      auto-complete .no-match-found {display: none !IMPORTANT};
</style>`

Also tried what you suggested.

`<style>
      ngui-auto-complete .no-match-found {display: none};

[2017-04-27 13:12] ancabica opened #197 "Perform 'start-with' instead of 'contains' search"
Hello,

Is there a way of filtering the suggestion list using 'start-with' the characters the user just entered instead of 'contains'?

For example, in your continent example, I would like to write 'a' and only the continents starting with 'a' to be displayed in the selection list. In this case 'North America' would not remain an option in the list.

Thank you,
Anca

[2017-04-27 13:33] ldoloscan commented on #191
Nope, not working, this blank-option-text is just appended to list but when i choose something from the list, on change i reset ngModel but selected option remains the same.

I don't have any other ideas how to reset input.

[2017-04-27 14:05] allenhwkim commented on #191
`is it possible to clear autocomplete input on select/change`?

as far as i know `blank-option-text` should work, Please provide a plunker example if you need to investigate further.

[2017-04-27 14:11] allenhwkim commented on #197
Please use `Observable` source for customized search.

[2017-04-27 14:50] ldoloscan commented on #191
Yeah, there was a problem with package version, I've been used an old version 0.8.9, I've upgraded to latest version and everything works fine!!
The issue can be closed!

Thanks!

[2017-04-27 15:06] #191 closed

[2017-04-29 14:20] AngularTx commented on #193
Hi, thanks for the reply. Do you have some template or sample code for this?

[2017-04-29 21:31] allenhwkim commented on #193
You can find an example from README.md'
![image](https://cloud.githubusercontent.com/assets/1437734/25559066/bc622b30-2d01-11e7-88bf-a8f51b42e08e.png)

[2017-04-30 08:59] AngularTx commented on #193
Thanks for the reply.

I have done some test with the example that is shown.

I see one issue ...

Scenario 1 :
1. Before even entering the data in the text box, i will have the data present which will be shown and then user can perform the selection either from drop down directly or via filtering.
This is fine.

Scenario 2:
1. Suppose i dont have the initial drop down filled . Technically the dro

[2017-05-02 06:07] imdivakar opened #198 "Feature Request (Disable no-match-found-text)"
**IMPORTANT**
_Please be specific with an example. An issue with_ **no example may be closed**.

**Steps to reproduce and a minimal demo**

   Enter some invalid values in the autocomplete textbox it will display "No result found"

**Current behavior**

  - We have the option to change the "No result found"

**Expected/desired behavior**

  - I want a boolean value to enable/disable the "No result

[2017-05-02 07:46] AkoSiJohnJames opened #199 "Is it possible to add scroll functionality on auto complete?"
**IMPORTANT**
I have a Ng2AutoComplete field that handles 51 states.
My question is it possible add a scrolling functionality in autocomplete? If yes, how can I add it to my html?

**Current behavior**
When the field is clicked, user can only see 10 or so states and terminates at the end of bottom frame of html.

**Expected/desired behavior**
Scrolling functionality to enable user to view states.

[2017-05-02 13:36] Alb0za opened #200 "ngModel get one key not the object"
if for example I have this object:

[code]

and how to bind to the ngModel only the

and not the whole object

[2017-05-02 13:51] profanis commented on #195
Is eventually the current behavior the expected one?

[2017-05-02 14:01] Alb0za commented on #200
Guys, I am sorry for opening this issue, they had provided this solution already in the documentation, to achieve this you should add to the input field:

`select-value-of="id"`

this, issue should be closed
Best Regards

[2017-05-02 16:56] #200 closed

[2017-05-02 18:34] ishehata opened #201 "How to change source on user input (listen to user input changes)"
**Current behavior**

  -  i am consuming api with paginated data, it only sends 20 items per page
  - when i enter a value in the auto-complete input, i couldn't find the needed item because it's not in the first 20

**Expected/desired behavior**

  - i need to make a new api call on user input to fetch more data from the api, so i guess i need some event to detect when input changes, i tried to

[2017-05-02 21:44] crh225 commented on #199
see #76 says it is implemented awaiting validation

[2017-05-03 02:17] webcat12345 opened #202 "Feature request : Do not show dropdownlist if search keyword string is empty"
**Steps to reproduce and a minimal demo**

  - Click input box without input any keyword
  - http://plnkr.co/edit/F9nrWp?p=preview (sample plunker example)

**Current behavior**

  - It show dropdown list (which contains all data).

**Desired behavior**

  - Do not trigger data if nothing is inputted.

**Other information**

  - In my project some users have thousands of data to display. And dropd

[2017-05-03 11:03] webcat12345 commented on #202
**min-chars, number** : when source is remote data, the number of character to see dropdown list

Didn't noticed this. My bad. Closing this issue.

[2017-05-03 11:03] #202 closed

[2017-05-03 11:18] Elliottssu opened #203 "how can I change default css style"
I can not find a better way to change default css style, so I just want to make my style more beautiful

[2017-05-03 15:13] webcat12345 commented on #159
@allenhwkim , not sure about solution.

http://plnkr.co/edit/F9nrWp?p=preview

On this plunker, search is triggered with `name` , `population` and `id`. All fields. Is there any way to focus only `population` field?

[2017-05-03 18:17] n0490b opened #204 "What format should my remote data be in? (PHP, MySQL)"
Here is my plnkr I am using my own remote data http://plnkr.co/edit/6wdUTD9zvzRtQ5EeM2jH

Currently I am using PHP and MySQL to query my database. If you enter "georgia" in full and look at the console you can see that two arrays are being returned with data but nothing shows up in the dropdown. Is my data in the correct format?

![screen shot 2017-05-03 at 8 57 47 am](https://cloud.githubusercont

[2017-05-03 21:39] emostafa commented on #201
i missed it in the documentation, its valueChange or ngModelChange.

thanks.

[2017-05-03 22:04] emostafa commented on #201
i was mistaken, valueChanged and ngModelChange only occurs when user selected an item.

[2017-05-05 00:09] adeelmahmood opened #205 "Passing params to the source function"
Is it possible to pass parameters to the source function? I am using the autocomplete on a text box inside a grid component and different results should be retrieved based on which input box the search is being done for. In reactive forms, this is how I am specifying the source function:

`[source]="searchUdaValues.bind(this)"`

Instead, if I can pass params like this:

`[source]="searchUdaValues.

[2017-05-05 09:48] rakeshadak137 opened #206 "Selected dropdown value overlays with html placeholder"
![screenshot from 2017-05-06 11 02 40](https://cloud.githubusercontent.com/assets/10095146/25934664/dc90f032-363c-11e7-8074-19e970f19d3a.png)
If we directly select a value from drop-down (without typing anything), The value overlays with the input fields html placeholder. The placeholder and the selected values are displayed mixed giving an weired view. The same issue happens when we set a default

[2017-05-07 14:35] AkoSiJohnJames commented on #199
@crh225 hi, i tried what is on the solution but its not working for me. upon using the inspect on goggle chrome, the style that was on issue 76 set on the auto complete. what else can i do?

below is html code:
<div class="col-md-2">
<input id="state" auto-complete type="text" class="form-control" [(ngModel)]="searchRequest.state" [source]="states" name="state" />
</div>

and i included the style

[2017-05-07 15:15] venkiit58 opened #207 "How to prevent first value being not selected until user press down arrow?"
Hi Team,

Thanks for this great feature. I'm struggling to fix this on my own. I'd like to prevent selection of very first item in autosuggest dropdown. I want user to press down arrow if they want to change the value.

Current problem is, I've a search results page and autosuggest redirect to corresponding page too. However, when I submit the form without completing full word it redirects to the

[2017-05-09 21:19] francoberton commented on #140
I've same problem of Jonatthu! Any solution?

[2017-05-09 23:46] Mendels0n commented on #203
See this question https://github.com/ng2-ui/auto-complete/issues/178

[2017-05-10 04:53] smitthakkar96 commented on #76
Can I work on this?

[2017-05-10 05:52] smitthakkar96 commented on #123
Please refer PR #209

[2017-05-10 10:20] matteobaldelli opened #210 "display property name [object] [object]"
**Steps to reproduce and a minimal demo**

  - http://plnkr.co/edit/GTJy9PSMoiTnHkLVROT3?p=preview
  - click on button "Default"

**Current behavior**

  - in autocomplete have [object Object]

**Expected/desired behavior**

  - i expected value of name (Antartica)

[2017-05-11 01:17] allenhwkim commented on #76
@smitthakkar96 plz go for it.

[2017-05-11 04:39] smitthakkar96 commented on #177
@allenhwkim can we document these classes or create several properties to set this classes so that it becomes more convenient for people to use.

[2017-05-11 04:43] smitthakkar96 commented on #204
You must specify two keys in your data source **id** and **value**. Id represents the field through which you can uniquely identify the object and value is something that user will see. In your case it would be more convenient to have id = id and value = city.

[2017-05-11 04:52] smitthakkar96 commented on #196
I don't think there is any way to achieve, the issue definitely deserves a PR but a quick fix would be to use something like this ``` (focusout)="addTextField(strategy.strategy, i)" ``` .

[2017-05-11 13:22] amitgaur208 opened #212 "Multiple selection"
**IMPORTANT**
_Please be specific with an example. An issue with_ **no example may be closed**.

**Steps to reproduce and a minimal demo**

  - _What steps should we try in your demo to see the problem?_
  - _Plunker example(REQUIRED)_
  - _If you cannot reproduce an issue with a plunker example, it's your environmental issue_

**Current behavior**
not able to select multiple options comma separet

[2017-05-11 16:18] allenhwkim commented on #177
@smitthakkar96 yes, plz go ahead

[2017-05-12 07:18] amitgaur208 opened #213 "Not able to get textbox value as string"
**IMPORTANT**
_Please be specific with an example. An issue with_ **no example may be closed**.

**Steps to reproduce and a minimal demo**

  - _What steps should we try in your demo to see the problem?_
  - _Plunker example(REQUIRED)_
  - _If you cannot reproduce an issue with a plunker example, it's your environmental issue_

**Current behavior**
I used reference variable for the text field but

[2017-05-13 06:49] Elliottssu commented on #203
@Mendels0n thanks , I find it

[2017-05-13 06:49] #203 closed

[2017-05-13 07:46] gundawarprasad commented on #210
use list-formatter.
Ref From:
https://www.npmjs.com/package/ng2-auto-complete

[2017-05-13 07:57] gundawarprasad opened #214 "Update source change on user input"
Hi,
Currently I am using ng2-auto-complete.But I found couple of issues.
i).When I try to get the updated source based on user input,dont have any attributes in ng2-auto-complete component.So I have used (keyUp) event.But again the source is not updating,which required an event like focus.We are having couple of issues with dynamically triggering focus event upon getting source values.
ii)Everytim

[2017-05-22 21:57] BarnT opened #215 ""starts with" matches should be on top of the filtered options"
When user enters text into the input field, the filtered list should
    - first show the options which "starts with" the typed text
    - followed by all the other ("contains") matches

**Steps to reproduce and a minimal demo**

  -  Use the following Plunker example: http://plnkr.co/edit/ztpZ3gFI5YhqZ5sALlHI?p=preview
  -  Type 'is' into input field!

**Current behavior**

  - The order of the f

[2017-05-24 03:36] elioth010 opened #216 "Set a ngModel to autocomplete"
**IMPORTANT**
_Please be specific with an example. An issue with_ **no example may be closed**.

**Steps to reproduce and a minimal demo**

  - _What steps should we try in your demo to see the problem?_
  - _Plunker example(REQUIRED)_
  - _If you cannot reproduce an issue with a plunker example, it's your environmental issue_

**Current behavior**
  -
when i set the ngmodel programatically, i get

[2017-05-24 13:21] kamikaze1945 commented on #192
How You fix this problem?

[2017-05-24 15:23] cmoyer commented on #199
@AkoSiJohnJames I just ran into the same issue. If you're still having the issue, based on the code you have here, your html should be as follows:
<input id="state" **ngui-auto-complete** type="text" class="form-control" [(ngModel)]="searchRequest.state" [source]="states" name="state" />

The issue I ran into was when I added .ngui-auto-complete ui {},
it wasn't picking up the changes. What I foun

[2017-05-25 09:41] aj92singh opened #217 "How to Make Text box empty after selection?"
i want to make text box empty after selection. if i don't give display property name it shows undefined. Any solution?

[2017-05-31 15:47] FiratOZ commented on #216
I have the same problem, is there a way to solve this issue?

[2017-06-01 08:01] vanilkumar opened #219 "where i need to put ng2-autocomplete folder in my project"
**IMPORTANT**
I am trying to use auto complete feature in my project but after down loading the package,
when ever i import it to my project is it displaying error folder not find.

so please help me in this

PHNO : 8884099799

[2017-06-02 22:22] crh225 opened #220 "Feature request"
How can we do multi select?

[2017-06-02 22:36] allenhwkim commented on #220
Pirate use as a component for multi select

https://rawgit.com/ng2-ui/auto-complete/master/app/index.html#/component-test

[2017-06-03 20:20] #220 closed

[2017-06-05 15:51] crh225 commented on #212
https://rawgit.com/ng2-ui/auto-complete/master/app/index.html#/component-test

[2017-06-06 04:45] GeorgeSokolovsky commented on #219
Can you share your project structure and build tool config?

[2017-06-06 16:21] adtm commented on #35
Bump, same issue

[2017-06-06 17:25] adtm commented on #157
Same issue.

Angular 4.
Expected to pass tests with Jasmine. A spec.ts file which tests component initialization (auto generated). Imported auto complete module to imports.
Failed because of source is not a known property of input

[2017-06-06 19:03] GeorgeSokolovsky commented on #216
I've created a PR to resolve this issue, you can check it out. https://github.com/ng2-ui/auto-complete/pull/221

[2017-06-06 19:10] GeorgeSokolovsky commented on #214
It will be great, if you'll create a plunker or something like this. So I'll better understand what you are trying to achieve.

[2017-06-06 23:07] adtm commented on #157
Fixed, should have looked more carefully (:

[2017-06-08 07:15] smitthakkar96 commented on #219
use npm

[2017-06-08 07:55] swapsword commented on #220
Can you please create a plunker for above multi-select demo? That will be helpful.

[2017-06-08 15:56] HoosierWrangler opened #222 "valuechanged event does not work (even on your demo)"
See http://plnkr.co/edit/3pB1Gx?p=preview and look at the console as your instructions say, totally blank, we're going to have to switch controls, uggh, like this one too.

[2017-06-08 20:17] allenhwkim commented on #222
`valueChanged` is only get fired when you selected from list.

![image](https://user-images.githubusercontent.com/1437734/26948860-e0d167be-4c65-11e7-9768-01d0677bbba3.png)

[2017-06-08 20:17] #222 closed

[2017-06-12 14:46] HoosierWrangler commented on #215
We need the same thing, we are probably going to have to fork this and republish quickly as we need this ASAP. It's a 10 minute change but know the author(s) probably have their hands full

[2017-06-13 06:30] uiravi opened #223 "How to enable matched text highlighted?"
Hi i  have implemented this. but trying to enable matched text highlighted. if there any option. please suggest. Thanks :)

[2017-06-13 15:32] allenhwkim commented on #223
there is no  such a feature at this moment.

[2017-06-14 03:39] uiravi commented on #223
Thanks 👍  if possible please implement.

[2017-06-15 09:16] ArnaudPel opened #224 "Demo plunkers don't work"
**Steps to reproduce and a minimal demo**
  - Open a plunker example from the npm page https://www.npmjs.com/package/ng2-auto-complete.
    (eg. http://plnkr.co/edit/WfgdcHLc8KDvsI2G2tHw?p=preview)

**Current behavior**

  - The plunker fails to load.

**Expected/desired behavior**

  - The plunker works, so that I can submit the issue I originally wanted to :)

**Other information**

  - It seems

[2017-06-15 16:26] shariqs commented on #207
I would like an answer to this too.
Thanks.

[2017-06-16 06:36] tokuduz commented on #224
Hello,

I got no issues with loading plunker. For me it is working normally.

TK

[2017-06-16 11:27] GeorgeSokolovsky commented on #224
For me, it's also working as expected.

[2017-06-18 08:54] ArnaudPel commented on #224
Hum, ok just tried at home, it does load fine. I'll have another go at work tomorrow and close the issue. Thanks

[2017-06-19 06:38] ArnaudPel commented on #224
Also fine at work, may have been a temporary hiccup on plunker side then. Sorry for the noise.

[2017-06-19 06:38] #224 closed

[2017-06-20 00:56] shariqs opened #225 "Unresponsive Results"
I'm using a YouTube autocomplete API to emulate the YouTube autocomplete searchbar.

**Current behavior**

Currently, when I type in some characters, the auto-complete module displays the right results. But when I press enter, the query goes to the first result in the autocomplete array instead of what the user types in.

If I quickly delete everything in the search-bar and type something else in,

[2017-06-21 12:21] AmitAKB opened #226 "Data not binding when coming from backend"
**IMPORTANT**
html file
[code]

main.ts file
[code]

services.js
[code]
**Current behavior**
It is not showing data coming from backend, when click on outside the input box and go back to select the current input box then data display.

**Expected/desired behavior**
When I change value in input box call ajax request (it working fine data coming from backend) and this backend data replace with new

[2017-06-22 08:21] BuriakPavel commented on #226
Try to change [source] attribut to 'fName' or set data from backend to the 'continents' object when component init (at ngOnInit() method)

[2017-06-22 12:14] krishna139 opened #227 "how to disable or make readonly ng2-auto-complete"
**IMPORTANT**
_Please be specific with an example. An issue with_ **no example may be closed**.

**Steps to reproduce and a minimal demo**

  - _What steps should we try in your demo to see the problem?_
  - _Plunker example(REQUIRED)_
  - _If you cannot reproduce an issue with a plunker example, it's your environmental issue_

**Current behavior**

  -

**Expected/desired behavior**

  -

**Other

[2017-06-22 14:13] tomschreck opened #228 "javascript error if arrow-down before typing a value"
**Steps to reproduce and a minimal demo**

tab into textbox configured to use ngui-auto-complete.  Click down arrow instead of typing a value in the textbox.  Clicking the down arrow will cause a JavaScript error.  See video here:

https://www.screencast.com/t/nvXm4JWQfMe

the error starts in auto-complete.component.js around line 45:
[code]

the call to _this.scrollToView(_this.itemIndex); is the

[2017-06-23 16:22] kattianita commented on #207
Is there a work around for this issue? I do not want the first item in the drop down to be selected by default - unless the user scrolls and picks that item..
By default the first item in the list is selected and I see that the class for the first li is set to selected --

[2017-06-26 20:18] spielma commented on #210
+1  Same problem.  Has anyone found a solution?
In the demo, @matteobaldelli seems to be using the list-formatter to no avail as well.

[2017-06-29 12:02] fnalin opened #229 "Header Authorization"
**IMPORTANT**
html:
<input
                  ngui-auto-complete
                  [list-formatter]="autocompleListFormatter"
                  [source]="urlEntidades"
                  display-property-name="nomeEntidade"
                  min-chars="2"
                  loading-text="Carregando..."
                  no-match-found-text="Não foram encontradas Entidades"
                  id="entid

[2017-06-29 12:32] #229 closed

[2017-06-29 12:33] fnalin commented on #229
I found this:
http://plnkr.co/edit/ExzNSh?p=preview

Thanks

[2017-06-29 23:10] allenhwkim commented on #210
When you assign an object to the value, the value formatter is not invoked to format the value to string because ng2-auto-complete does not know its value is changed or not.

http://plnkr.co/edit/u8CWDe6lKiSi61aer9Uc?p=preview

As you see in the example, please assign value of toString function separately for this case.

[2017-06-30 03:03] spielma commented on #210
Thanks!!  It would be great if the directive used the list-formatter to create the toString() automatically, but this will get the job done.

[2017-07-04 03:27] donsutherland opened #231 "TAB out of field doesn't remove "No Results Found" box when using accept-user-input="true""
When using autocomplete with accept-user-input="true", when I TAB out of the field to the next field with a value not on the list, the autocomplete box remains displaying the "No Results Found" until the screen is clicked.

**Steps to recreate:**

1) Click plnkr url below.
http://plnkr.co/edit/FWk0LLgybDmyigPWfzry?p=preview

2) Enter a text value not present on the list

3) Observe that the "No Re

[2017-07-06 03:30] smitthakkar96 commented on #197
I didn't quite get what are you trying to convey, if I am not wrong there is no way to simply say call this function when someone performs the search if there is then it is not documented properly.

[2017-07-06 06:21] smitthakkar96 commented on #223
It's a good feature request @allenhwkim why don't we mark it as a feature request

[2017-07-06 13:35] allenhwkim commented on #223
@smitthakkar96 it's a good feature. However, I am not sure of the size, complexity, and performance of code for this implementation as a basic feature.

This can be done using `list-formatter` already.

I am not sure that this module should provide this custom list-formatter.

We still can build an example how to highlight it on the list though.

[2017-07-07 10:02] thanhpd opened #232 "[Safari on iOS] Autocomplete dropdown is not closed when click outside of dropdown area"
**Steps to reproduce and a minimal demo**
- Open the autocomplete dropdown on Safari on iOS
- Tap on outside area to close it
Plunker example: Any demo example of this repo can be used to reproduce the issue.
http://plnkr.co/edit/3pB1Gx?p=preview

**Current behavior**
- The dropdown did not close. In Chrome for Android and desktop browsers, it was able to close.

**Expected/desired behavior**
- Th

[2017-07-10 21:07] KRav007 opened #233 "Auto complete - shows wrong values"
<img width="229" alt="bildschirmfoto 2017-07-10 um 23 01 57" src="https://user-images.githubusercontent.com/2427915/28039905-283c5e98-65c4-11e7-8cbe-0644679c0657.png">

What kind of logic is used, to "filter" the list, if you insert values into the autocomplete?

**Current behavior**
See the screenshot, I fill in "aaaa" and the list contains "DUD1".
Why is "DUD1" shown? There is no "a" in this val

[2017-07-11 03:13] kyue1005 opened #234 "Key binding for closing auto complete overlay"
**IMPORTANT**
As using the autocomplete for search keyword suggestion, user should be able to close the overlay to input their custom string for a better UX.

**Current behavior**

  - can only close overlay by clicking outside of the list

**Expected/desired behavior**

  - can close overlay by key, eg. ESC key

**Other information**

  -

[2017-07-11 14:47] experionakash opened #235 "how can i set a scroll bar in the autocomplete list, when there is more data items to show."
**Steps to reproduce and a minimal demo**

  -   <input ng2-auto-complete
formControlName="vehicleTypeId"
[source]="vehicleTypes"
[list-formatter]="myValueFormatter"
[accept-user-input]="false"
[match-formatted]="true"
(valueChanged)="vehicleTypeChanged($event)"
value-property-name="id"
display-property-name="name"
max-num-list="5"
class="form-control" maxlength="15">

**Current behavior**

  - no

[2017-07-12 15:07] allenhwkim commented on #233
The default logic is `JSON.stringify(element).indexof('aaa')> 0`
If you don't like this logic, you can make your own Observable source to filter out.

If you need further assist, please create a plunker example to reproduce this issue.

[2017-07-12 15:10] allenhwkim commented on #235
Duplicate to https://github.com/ng2-ui/auto-complete/issues/199

[2017-07-12 15:10] #235 closed

[2017-07-13 20:34] evasquez26 commented on #220
@swapsword It might be too late, but just check the source code of this same project, the provided example it is right here https://github.com/ng2-ui/auto-complete/blob/master/app/component-test.component.ts :)

[2017-07-15 20:53] josecarlosweb opened #236 "Input show 'undefined' on open form"
Hello,

I try use on my form like this:
[code]

On start the form, the input show "undefined" or when it's empty. I tried to change the value of the attribute to empty, but it did not work.

I just need that input is clear on show empty form.

Sorry if not suitable place for ask here.

[2017-07-17 09:29] lemarsu opened #237 "Performance issue when showing / hiding auto-complete."
**Steps to reproduce and a minimal demo**

  - Make a page with multiples auto-complete fields.
  - Set an `*ngIf` on each auto-complete directive
  - Show/Hide all auto-completes multiple times by toggling the value set in `*ngIf` directive.
  - Enjoy performance degradation. Each click on the page can takes up to one second or more.

**Current behavior**

  - Each click on the page can takes up

[2017-07-17 09:37] lemarsu commented on #237
#238

[2017-07-17 14:19] #237 closed

[2017-07-17 19:50] d4viddur4ngo commented on #201
Hi emostafa, were you able to solve this issue. I happen to have the same scenario and no able to do it yet.

[2017-07-21 13:13] raviji commented on #178
Where to edit/use this ` encapsulation: ViewEncapsulation.None`?

[2017-07-21 19:02] sourcevitor commented on #178
@raviji  In your component

@Component({
    selector: 'vm-autocomplete',
    template: `
    <input auto-complete [(ngModel)]="autocompleteModel" name="nameComponent">
    `,
    styleUrls: ['vm/component/vm-autocomplete/vm-autocomplete.css'],
    encapsulation: ViewEncapsulation.Emulated
})

[2017-07-22 08:08] raviji commented on #178
@sourcevitor Thnx bro, will try this

[2017-07-22 13:19] AmitAKB commented on #226
I'm tried this things but last record not push in source attribute.
when i click on outside the input box and again click on input box then result showing.
It is not properly bind.
Otherwise give the trigger event for when data change.

[2017-07-25 09:43] cen1 commented on #76
Using
[code]
in my project and arrow keys seem to work fine.

[2017-07-25 09:44] narsignt opened #239 "not giving whole object when we type whole word in text field"
Hi all,
http://plnkr.co/edit/2osUq6?p=preview :  Here i typed "Antartica" and clicked submit button and  i got " {continent: "Antartica"}" this response but here i am expecting the response like

continent: {
                      id:7,
                      name: "Antartica",
                      population:0
                   }
Can anyone please address above issues.
Thanks in advance.